@{
    ViewBag.BodyClass = "shop-home";
}
<section class="catalog-page mt-40">
    <div class="filter-box categoryNav">
        <ul>

            <li class="inactive">
                <a href="/urunlerimiz/">
                    Tüm Ürünler
                </a>
            </li>

            <li class="inactive">
                <a href="/egzotik-meyveler/">
                    Egzotik Meyveler
                </a>
            </li>

            <li class="inactive">
                <a href="/orman-meyveleri/">
                    Orman Meyveleri
                </a>
            </li>

            <li class="inactive">
                <a href="/yemeye-hazir/">
                    Yemeye Haz&#x131;r
                </a>
            </li>

            <li class="inactive">
                <a href="/nadir-bulunan-meyveler/">
                    Verita Raw Juice
                </a>
            </li>

            <li class="inactive">
                <a href="/verita-fresh-cut/">
                    Verita Fresh Cut
                </a>
            </li>

            <li class="inactive">
                <a href="/sebzeler-ve-kok-bitkiler/">
                    Sebzeler ve K&#xF6;k Bitkiler
                </a>
            </li>
        </ul>
    </div>


    <div class="container">

        <div class="catalog-header">
            <div class="category-info">
                <div class="breadcrumb" style="margin-bottom:10px">
                    <ul style="display: flex; list-style: none; padding: 0;margin:0;font-size:12px">
                        <li style=" padding: 0 10px 0px 0;">
                            <a href="/" title="Anasayfa">Anasayfa</a>
                            <span class="delimiter">></span>
                        </li>
                        <li style=" padding: 0 10px 0px 0;">
                            <span class="current-item">B2B &#xDC;r&#xFC;nler</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="catalog-title">
            <h3>B2B Ürünler</h3>
        </div>
        <div class="catalog-container">
            <div class="catalog-side">
                <div class="catalog-filter">


                    <div class="catalog-filter-mobile" onclick="this.parentElement.classList.toggle('show-mobile-filter');">
                        <span>Filtrele</span>
                        <label></label>
                    </div>

                    <div class="catalog-filter-content">



                        <div class="filter-item notfiltered-items">
                            <div class="filter-title">
                                Men&#x15F;ei
                            </div>

                            <ul class="list-unstyled m-0">
                                <li class="filter-list-item" data-filter-id="8" onclick="CatalogFilter.setFilter(this);return false;">
                                    <label></label>
                                    <span>Fas</span>
                                </li>
                                <li class="filter-list-item" data-filter-id="5" onclick="CatalogFilter.setFilter(this);return false;">
                                    <label></label>
                                    <span>Hollanda</span>
                                </li>
                                <li class="filter-list-item" data-filter-id="7" onclick="CatalogFilter.setFilter(this);return false;">
                                    <label></label>
                                    <span>Meksika</span>
                                </li>
                                <li class="filter-list-item" data-filter-id="6" onclick="CatalogFilter.setFilter(this);return false;">
                                    <label></label>
                                    <span>Tanzanya</span>
                                </li>
                                <li class="filter-list-item" data-filter-id="9" onclick="CatalogFilter.setFilter(this);return false;">
                                    <label></label>
                                    <span>Turkiye</span>
                                </li>
                            </ul>

                        </div>


                    </div>
                </div>
            </div>

            <div class="catalog-content ">
                <div class="row g-5">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-6">

                        <div class="product-item">
                            <a href="/b2bUrun/" class="product-link"></a>

                            <div class="product-image">
                                <img src="https://verita.devcontr.com/i/l/000/0000030_hindistan-cevizi.jpeg" alt="">
                            </div>

                            <div class="overlay">
                                <div class="middle">
                                    <div></div>
                                    <div class="overlay-name">Hindistan Cevizi</div>
                                    <a class="btn-big overlay-btn mx-10 py-2">İNCELE</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

@section links{
    <link href="/Themes/Default/Content/css/pages/page.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/plugins/toastr.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/heading-title.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/catalog.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/product-showcase-home.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/product-item.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/footer.min.css?v=2020100520" rel="stylesheet" type="text/css" />

    <script src="/Themes/Default/Content/js/bootstrap/bootstrap.bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/jquery-inline-svg/jquery-inline-svg.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/swiperjs/swiper-bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-migrate/jquery-migrate-3.0.1.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/responsive-toolkit/responsive-toolkit.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/js/main.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.common.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.ajaxcart.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/toastr/2.1.4/toastr.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-lazy/jquery.lazy.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.catalogfilter.min.js?v=2020100520" type="text/javascript"></script>
}

@section scripts{
    <script>
        AjaxCart.init('.header-links .qty-cart', '.header-links .qty-wishlist', '.flyout-cart');
    </script>
    <script>
        var $mobileAccount = $('.header-mobile .account-dropdown');

        $mobileAccount.on('click', function () {
            if ($mobileAccount.find('.navbar-right-item-title').hasClass('is-authenticated')) {
                window.location.pathname = '/hesabim/bilgilerim/';
            }

            if ($mobileAccount.find('.navbar-right-item-title').hasClass('no-authenticated')) {
                window.location.pathname = '/kullanici-giris/';
            }

        })
    </script>
    <script>
        //Category Lazy Load Funtion
        $(document).ready(function () {
            $('.catalog-picture img').lazy({
                effect: "fadeIn",
                effectTime: 500,
                threshold: 0,
                afterLoad: function (element) {
                    //add load complete classes
                    element.addClass("lazy-complete");
                }
            });
        });


        //Category Fixed Head
        $(document).ready(function () {
            if (ResponsiveToolkit.is('>md')) {
                $(window).on('scroll', function () {
                    var sticky = $('.header-wrap');
                    var stickyInner = $('.header-filters');
                    var header = $('.header').outerHeight();
                    var topFilter = $('.header-info').outerHeight();
                    var marginOffset = parseInt($('.catalog-page').css("margin-top"));
                    var height = header + topFilter + marginOffset;
                    scroll = $(window).scrollTop();
                    if (scroll >= height) sticky.addClass("fixed-filters"), stickyInner.addClass("fixed-container");
                    else sticky.removeClass("fixed-filters"), stickyInner.removeClass("fixed-container")
                });
            }
        });


        //Mobile Filter Open/Close Funtion
        (function ($) {
            var trigger = $('.category-filter span');
            var filter = $('.sidebar');
            var close = $('.sidebar-close');

            function openFilter() {
                filter.show();
                $('body').css('overflow', 'hidden');
            }

            function closeFilter() {
                filter.hide();
                $('body').css('overflow', 'scroll');
            }

            $(document).ready(function () {
                trigger.on('click', openFilter);
                close.on('click', closeFilter);
            });
        })(jQuery);

        //Mobile Filter FilterBox Collapse Function
        (function ($) {
            var filterItem = $('.filter-box .title');

            function collapseHandler() {
                var $this = $(this);
                var isActive = $this.parent('.filter-box').hasClass('active');

                $(".filter-box").removeClass("active");

                if (!isActive) {
                    $this.parent('.filter-box').addClass('active');
                }
            }

            $(document).ready(function () {
                filterItem.on('click', collapseHandler);
            });
        })(jQuery);
    </script>
@*    <script>
        $(document).ready(function () {
            var autoRedirect = ResponsiveToolkit.is('>md');
            var fValue = @Html.Raw(Json.Encode(ViewBag.FValue));
            CatalogFilter.init("/b2b-urunler?f=filterSpecs", "", autoRedirect);
        });
    </script>*@
}