@{
    ViewBag.BodyClass = "shop-header-shadow shop-home";
}
<main class="page-container mt-40">
    <section class="product-detail b2b">
        <form method="post" id="product-details-form" action="/cilek/">
            <div class="container">

                <section class="product-detail-container">
                    <div class="row">
                        <div class="col-lg-12 mt-18">
                            <div class="catalog-header">
                                <div class="category-info">
                                    <div class="breadcrumb mx-8" style="margin-bottom:10px">
                                        <ul style="display: flex; list-style: none; padding: 0;margin:0;font-size:14px">
                                            <li style=" padding: 0 10px 0px 0; color :#046a38">
                                                <a href="/" title="Anasayfa">Anasayfa</a>
                                                <span class="delimiter">></span>
                                            </li>
                                            <li style=" padding: 0 10px 0px 0; color:#7AB929">
                                                <span class="current-item">B2B Ürünler</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-lg-12 mt-18 mb-35">
                            <h3 class="product-detail-title text-center">
                                Hindistan Cevizi
                            </h3>
                        </div>

                        <div class="general-specification d-flex p-0 mb-40">
                            <div class="align-content-end col-6 d-flex justify-content-start img" style="background-image:url(/i/l/000/0000030_hindistan-cevizi.jpeg)">
                            </div>
                            <div class="col-6 d-flex align-items-center ps-10">
                                <div class="d-flex flex-column align-items-start">
                                    <span class="text-center mb-8 font-size-h3 title">Genel Özellikler:</span>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Kategori:</span><span>B2B &#xDC;r&#xFC;nler</span>
                                    </div>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Cinsi</span> <span>Adelita, Kwanza, Grandeur, Tulameen</span>
                                    </div>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Men&#x15F;ei</span> <span>Hollanda, Tanzanya, Meksika, Fas, Turkiye, Portekiz</span>
                                    </div>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Sertifika</span> <span>GGN / &#x130;TU</span>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="general-specification d-flex p-0 mb-40">
                            <div class="align-content-end col-6 d-flex justify-content-start img" style="background-image:url(/i/l/000/0000048_hindistan-cevizi.jpeg)">
                            </div>
                            <div class="col-6 d-flex align-items-center ps-10">
                                <div class="d-flex flex-column align-items-start">
                                    <span class="text-center mb-8 title">İç Ambalaj:</span>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Gramaj(kg):</span><span>0,125 (Net)</span>
                                    </div>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Ölçü(mm):</span><span>125 x 145 x 140</span>
                                    </div>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Cinsi:</span><span>&#x15E;ale</span>
                                    </div>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Ürün Adedi:</span><span>De&#x11F;i&#x15F;ken</span>
                                    </div>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Kalibre:</span><span>De&#x11F;i&#x15F;ken</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="general-specification d-flex p-0 mb-40">
                            <div class="align-content-end col-6 d-flex justify-content-start img" style="background-image:url(/i/l/000/0000049_hindistan-cevizi.jpeg)">
                            </div>
                            <div class="col-6 d-flex align-items-center ps-10">
                                <div class="d-flex flex-column align-items-start">
                                    <span class="text-center mb-8 title">Dış Ambalaj:</span>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Gramaj(kg):</span><span>1,50 (Net)</span>
                                    </div>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Ölçü(mm):</span><span>400 x 300 x85</span>
                                    </div>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Cinsi:</span><span>Karto Kutu (Gurme lezzetler/Ye&#x15F;il)</span>
                                    </div>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Ürün Adedi:</span><span>De&#x11F;i&#x15F;ken</span>
                                    </div>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Kutu İçi Adedi:</span><span>12</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="general-specification d-flex p-0 mb-40">
                            <div class="align-content-end col-6 d-flex justify-content-start img" style="background-image:url(/i/l/000/0000050_hindistan-cevizi.jpeg)">
                            </div>
                            <div class="col-6 d-flex align-items-center ps-10">
                                <div class="d-flex flex-column align-items-start">
                                    <span class="text-center mb-8 title">Saklama Koşulları:</span>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Ortam Isısı:</span><span>0-2 C</span>
                                    </div>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Etlien Üretimi:</span><span>Orta</span>
                                    </div>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Etilene Duyarlılık:</span><span>D&#xFC;&#x15F;&#xFC;k</span>
                                    </div>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Koku Üretimi:</span><span>D&#xFC;&#x15F;&#xFC;k</span>
                                    </div>
                                    <div class="d-flex flex-row specs mb-5">
                                        <span>Koku Duyarlılık:</span><span>D&#xFC;&#x15F;&#xFC;k</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="home-middle">
                            <div class="container contents" style="display:block !important;">
                                <div class="mt-7 mx-4">
                                    <div class="showcase-container">
                                        <section class="showcase">
                                            <div class="container">
                                                <div class="showcase-title">
                                                    <h4>Benzer Ürünler</h4>
                                                </div>
                                                <div class="left-image-showcase showcase-scope-1">

                                                    <div class="showcase-products">
                                                        <div class="showcase-wrap">
                                                            <div class="showcase-slider-1 swiper">
                                                                <div class="showcase-slider__wrapper swiper-wrapper">
                                                                    <div class="swiper-slide">

                                                                        <div class="product-item">
                                                                            <a href="/ahududu/"
                                                                               class="product-link"></a>

                                                                            <div class="product-image">
                                                                                <img src="/i/l/000/0000027_ahududu.jpeg" alt="ahududu">
                                                                            </div>

                                                                            <div class="overlay">
                                                                                <div class="middle">
                                                                                    <div></div>
                                                                                    <div class="overlay-name">Ahududu</div>
                                                                                    <a class="btn-big overlay-btn mx-10 py-2">
                                                                                        İNCELE
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="swiper-slide">

                                                                        <div class="product-item">
                                                                            <a href="/ananas/"
                                                                               class="product-link"></a>

                                                                            <div class="product-image">
                                                                                <img src="/i/l/000/0000028_ananas.png" alt="ananas">
                                                                            </div>

                                                                            <div class="overlay">
                                                                                <div class="middle">
                                                                                    <div></div>
                                                                                    <div class="overlay-name">Ananas</div>
                                                                                    <a class="btn-big overlay-btn mx-10 py-2">
                                                                                        İNCELE
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="swiper-slide">

                                                                        <div class="product-item">
                                                                            <a href="/avakado/"
                                                                               class="product-link"></a>

                                                                            <div class="product-image">
                                                                                <img src="/i/l/000/0000029_avokado.jpeg" alt="avakado">
                                                                            </div>

                                                                            <div class="overlay">
                                                                                <div class="middle">
                                                                                    <div></div>
                                                                                    <div class="overlay-name">Avokado</div>
                                                                                    <a class="btn-big overlay-btn mx-10 py-2">
                                                                                        İNCELE
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="swiper-slide">

                                                                        <div class="product-item">
                                                                            <a href="/cilek/"
                                                                               class="product-link"></a>

                                                                            <div class="product-image">
                                                                                <img src="/i/l/000/0000030_hindistan-cevizi.jpeg" alt="hindistan-cevizi">
                                                                            </div>

                                                                            <div class="overlay">
                                                                                <div class="middle">
                                                                                    <div></div>
                                                                                    <div class="overlay-name">
                                                                                        Hindistan
                                                                                        Cevizi
                                                                                    </div>
                                                                                    <a class="btn-big overlay-btn mx-10 py-2">
                                                                                        İNCELE
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="swiper-button-next"></div>
                                                                <div class="swiper-button-prev"></div>
                                                                <div class="swiper-pagination"></div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div> 
                </section> 
            </div>
         
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GOfCB82RilCpbAvFr-ERy3mg0q4k1BV8InTNQIc_4osH6Q8yUPNpJPcIjnTDlYyx-_-EikS69iYSMgBRLFoaPX5CCjuGkDIoykyEtKy8gZzo5TGT8habhz7ba8z3SxrsE_w0CNIXK347HFXU36O42I" />
        </form>
    </section>
</main>

@section links{
    <link href="/Themes/Default/Content/css/pages/page.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/plugins/toastr.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/product-detail.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/product-image.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/product-item.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/footer.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/showcase.min.css?v=2020100520" rel="stylesheet" type="text/css" />

    <script src="/Themes/Default/Content/js/bootstrap/bootstrap.bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/jquery-inline-svg/jquery-inline-svg.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/swiperjs/swiper-bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-migrate/jquery-migrate-3.0.1.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/responsive-toolkit/responsive-toolkit.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/js/main.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.common.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.ajaxcart.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/toastr/2.1.4/toastr.min.js?v=2020100520" type="text/javascript"></script>
     

}

@section scripts{
    <script>
        AjaxCart.init('.header-links .qty-cart', '.header-links .qty-wishlist', '.flyout-cart');
    </script>
    <script>
        var $mobileAccount = $('.header-mobile .account-dropdown');

        $mobileAccount.on('click', function () {
            if ($mobileAccount.find('.navbar-right-item-title').hasClass('is-authenticated')) {
                window.location.pathname = '/hesabim/bilgilerim/';
            }

            if ($mobileAccount.find('.navbar-right-item-title').hasClass('no-authenticated')) {
                window.location.pathname = '/kullanici-giris/';
            }

        })
    </script>
    <script>
        $(function () {

            productNumberInput(".product-number");



            const productSimilar = new Swiper('.product-swiper .swiper', {
                speed: 400,
                slidesPerView: '1',
                spaceBetween: 25,

                navigation: {
                    nextEl: '.product-swiper .swiper-button-next',
                    prevEl: '.product-swiper .swiper-button-prev',
                },
                breakpoints: {
                    320: {
                        slidesPerView: 1
                    },
                    768: {
                        slidesPerView: 2
                    },
                    1200: {
                        slidesPerView: 4
                    }
                }

            });


        });
    </script>
    <script>
        $('[data-inline-svg]').inlineSvg();
    </script>

    <script>
        $(document).ready(function () {

            var swipers = new Swiper('.showcase-slider-1', {
                // Disable preloading of all images
                preloadImages: false,
                // Enable lazy loading
                lazy: {
                    elementClass: 'product-image',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                updateOnWindowResize: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                breakpointsInverse: true,
                breakpoints: {
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 25
                    },
                    992: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    }
                }
            });

        });
    </script>
}
