@{
    ViewBag.BodyClass = "shop-header-shadow shop-home";
}
<link href="/Themes/Default/Content/css/pages/page.min.css?v=2020100520" rel="stylesheet" type="text/css" />
<main class="page-container mt-40">
    <div class="container">
        <div class="catalog-header">
            <div class="category-info">
                <div class="breadcrumb" style="margin-bottom:10px">
                    <ul style="display: flex; list-style: none; padding: 0;margin:0;font-size:14px">
                        <li style=" padding: 0 10px 0px 0; color :#046a38">
                            <a href="/" title="Anasayfa">Anasayfa</a>
                            <span class="delimiter">></span>
                        </li>
                        <li style=" padding: 0 10px 0px 0;color:#7AB929">
                            <span class="current-item">Basında Verita</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="page-content pe-0">
            <div class="heading-title mb-25" style="text-align:center;">
                <h4>Basında Verita</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Sıralama" />
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Tarih Seçin" />
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Etiket Seçin" />
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <a href="#" class="btn btn-primary">Temizle</a>
                    </div>
                    <div class="col-md-7">
                        <a href="#" class="btn btn-primary">Basın Bültenleri</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="/images/haber_ticaretgovtr2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title 1</h5>
                        <p class="card-text">Tropikal Zencefil Yerelleşir mi?</p> 
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="/images/haber_ticaretgovtr2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title 2</h5>
                        <p class="card-text">Tropikal Zencefil Yerelleşir mi?</p> 
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="/images/haber_ticaretgovtr2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title 3</h5>
                        <p class="card-text">Tropikal Zencefil Yerelleşir mi?</p> 
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="/images/haber_ticaretgovtr2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title 4</h5>
                        <p class="card-text">Tropikal Zencefil Yerelleşir mi?</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<style> 
    h4 {
        font-size: 40px !important;
        font-family: 'Roboto Slab SemiBold' !important;
        font-weight: bold !important;
        color: rgb(4,106,56) !important;
    }
</style>
@section links{

    <link href="/Themes/Default/Content/css/plugins/toastr.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/footer.min.css?v=2020100520" rel="stylesheet" type="text/css" />

    <script src="/Themes/Default/Content/js/bootstrap/bootstrap.bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/jquery-inline-svg/jquery-inline-svg.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/swiperjs/swiper-bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-migrate/jquery-migrate-3.0.1.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/responsive-toolkit/responsive-toolkit.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/js/main.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.common.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.ajaxcart.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/toastr/2.1.4/toastr.min.js?v=2020100520" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
}
 