@using Verita.Common.Enums;
@using Verita.Domain.Entities;
@{
    ViewBag.BodyClass = "shop-header-shadow shop-home";
}
<link href="/Themes/Default/Content/css/pages/page.min.css?v=2020100520" rel="stylesheet" type="text/css" />
<main class="page-container mt-40">
    <div class="filter-box categoryNav">
        <ul>
            @foreach (var item in (List<Page>)ViewBag.PageCategories)
            {
                <li class="inactive">
                    <a href="/Page?pageId=@item.Id">
                        @item.Name
                    </a>
                </li>
            }
            <li class="inactive">
                <a href="/bunlari-biliyor-musunuz/">
                    Bunları Biliyor Musunuz?
                </a>
            </li>
        </ul>
    </div>
    <div class="container container-bg">
        <div class="page-nav-header">
            <div class="category-info">
                <div class="breadcrumb">
                    <ul style="display: flex; list-style: none; padding: 0;margin:0;font-size:14px">
                        <li style=" padding: 0 10px 0px 0; color :#046a38">
                            <a href="/" title="Anasayfa">Anasayfa</a>
                            <span class="delimiter">></span>
                        </li>
                        <li style=" padding: 0 10px 0px 0; color:#7AB929">
                            <span class="current-item">Bunları Biliyor Musunuz?</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="heading-title">
            <h4>Bunları Biliyor Musunuz?</h4>

        </div>
        <div class="page-content pe-0">

            <div class="row justify-content-end">
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Aranacak metin" />
                </div>
                <div class="col-md-1">
                    <div class="row">
                        <div class="col-md-7">
                            <a href="#" class="btn btn-primary">Ara</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="accordion" class="pt-10">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span class="collapse-icon"></span> Ejder Meyvesi (Pitahaya) Nasıl Soyulur?
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Ejder meyvesi, egzotik görüntüsü ve lezzetiyle dikkat çeken bir tropikal meyvedir. Meyveyi doğru bir şekilde soymak, bu lezzetli meyvenin tadını çıkartmak için önemlidir. Ejder meyvesini soymanın en basit bir yolu, meyvenin iki uç kısmını kesin. Daha sonra, meyvenin kabuğunu yarıya kadar dik bir şekilde kesin. Ancak meyveyi tamamen ikiye bölmeyin. Kabuğu hafifçe ayırarak, içindeki eti ortaya çıkarabilirsiniz. Pitahaya meyvesinin kabuğu kesinlikle tüketilmemelidir. Meyvenin içerisindeki yumuşak etli kısım, çekirdekleriyle birlikte tüketilebilir. Meyve dokusu ve siyah, çıtır tohumları nedeniyle görüntüsü kiviye benzemektedir.
                            <br />
                            <p>Lipidler yönünden zengindir, kalori değeri düşüktür.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="collapse-icon"></span>Guava Nedir? Guava Meyvesinin Faydaları Nelerdir?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Guava, tropikal iklimlerde yetişen, besleyici ve lezzetli bir meyvedir. Genellikle yeşil renkte olan guava, iç kısmında pembe, beyaz veya kırmızı renkte bir ete sahiptir. Guava, C vitamini bakımından zengin olup aynı zamanda A vitamini, lif, potasyum ve antioksidanlar içerir.
                            <br />
                            Bu lezzetli meyve, bağışıklık sistemini güçlendirebilir, cilt sağlığını destekleyebilir ve sindirim sistemine katkı sağlayabilir. Aynı zamanda düşük kalorili ve şeker içeriğiyle sağlıklı bir atıştırmalık seçeneğidir. Guava, taze olarak tüketilebileceği gibi meyve salatalarında, smoothielerde veya içeceklerde de kullanılabilir.
                            <br />
                            Guava'nın özü, tatlılığı ve besleyici değerleri sayesinde sağlıklı bir diyetin önemli bir parçası olabilir, ayrıca hoş bir lezzet deneyimi sunar.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span class="collapse-icon"></span>Mangosten (Mangostan) Nasıl Soyulur?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Mangosten meyvesini soymanın basit bir yöntemi vardır. İlk olarak, meyveyi yuvarlak bir şekilde bir bıçak veya makas yardımıyla hafifçe kesin. Dikkat edilmesi gereken önemli bir nokta, meyveyi tamamen kesmeden sadece kabuğunu delmek olmalıdır. Ardından, kesik yeri hafifçe genişletin ve parmaklarınızı kullanarak kabuğu iki yarıya ayırın. Kabuğu nazikçe ayırarak iç kısımdaki beyaz ete ulaşabilirsiniz.
                            <br />
                            Mangosten, içindeki beyaz etli kısım oldukça lezzetlidir. Ancak dikkatlice çıkarılmalıdır. Çünkü eti oldukça sulu bir yapıdadır. İç kısmındaki beyaz eti ayıkladıktan sonra, meyvenin tadını çıkarabilir ve taze, lezzetli bir atıştırmalık elde edebilirsiniz. Mangosten meyvesinin bazı dilimlerinde çekirdek bulunurken, bazılarında bulunmayabilir.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <span class="collapse-icon"></span>Mango Çekirdeği Yenir Mi?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            Evet, mango çekirdeği yenilebilir. Ancak genellikle mango çekirdeği, mangonun tüketilmeyen bir kısmıdır. Mango çekirdeği sert ve lifli bir dokuya sahiptir. Bu nedenle genellikle insanlar tarafından çiğnenmez veya doğrudan tüketilmez. Ancak, bazı kültürlerde mango çekirdeği toz haline getirilir ve bu toz bazen içeceklerde, smoothielerde veya besin takviyelerinde kullanılır.
                            <br />
                            Mango çekirdeği, antioksidanlar, lif ve bazı besin maddeleri açısından zengindir. Ancak, taze mango meyvesi etli kısmı, özellikle A ve C vitaminleri ile beta-karoten gibi birçok önemli besin içerirken, çekirdeğin tüketilmesi genellikle geleneksel bir uygulama değildir.
                            <br />
                            Yine de mango çekirdeğini tüketmeyi düşünüyorsanız, öncelikle iyice kurutulmuş veya toz haline getirilmiş formda kullanılması önerilir. Ancak her zaman olduğu gibi bireyin sağlık durumunu ve özel ihtiyaçlarını göz önünde bulundurarak doktorlarına veya beslenme uzmanlarına danışmaları en iyisi olacaktır.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <span class="collapse-icon"></span> Papaya Nasıl Olgunlaştırılır?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            Papaya, satın alırken olgunlaşmış bir tane seçmek önemlidir. Olgun papayalar genellikle sarı renkte ve hafifçe yumuşaktır. Satın aldığınız papaya doğru olgunlukta değilse oda sıcaklığında, güneş ışığı almayan bir yerde bırakın. Oda sıcaklığında bekletmek, papayanın olgunlaşmasını hızlandırabilir.
                            <br />
                            Eğer papaya çok sertse, bir meyve sepetine veya kağıt torbaya koyarak olgunlaştırabilirsiniz. Bu, etilen gazının biriktirilmesine ve papayanın daha hızlı olgunlaşmasına yardımcı olabilir. Papaya meyvesinin yanına muz eklemek olgunlaşma sürecini hızlandırabilir. Muz, etilen gazı ürettiği için olgunlaştırmak istediğiniz meyveleri muz ile birlikte saklayabilirsiniz.
                            <br />
                            Papaya olgunlaşma süreci genellikle birkaç gün sürebilir. Papaya, olgunlaştıkça rengi değişecek ve meyve dokusu yumuşayacaktır. Olgunlaşan papayayı bu aşamada buzdolabında saklamak, taze kalmasına yardımcı olabilir. Ya da hiç bu adımlarla uğraşmadan Verita Yemeye Hazır Papaya ile tanışabilirsiniz.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <span class="collapse-icon"></span> Jackfruit (Jak Meyvesi) Nedir? Çiğ Yenir Mi?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                            Jackfruit, genellikle "jak meyvesi" olarak da adlandırılan büyük bir tropikal meyvedir. Bu meyve, Asya kökenli olup genellikle Güney ve Güneydoğu Asya ülkelerinde yetişir. Jackfruit, dünyanın en büyük meyvelerinden biri olabilir ve bir ağaç meyvesi olarak bilinir.
                            <br />
                            Genç jackfruit, genellikle taze olarak tüketilebilir ve çiğ yenilebilir. Özellikle Güneydoğu Asya mutfağında, jackfruit, yemeklere et benzeri bir doku ve lezzet katarak kullanılır. Bu genç jackfruit, olgunlaşmamış ve henüz tatlılaşmamış bir hali içerir. Bu nedenle, jackfruit, özellikle vegan ve vejetaryen yemeklerinde, taco, burger veya curry gibi yemeklerde et alternatifi olarak kullanılır.
                            <br />
                            Olgunlaşmış jackfruit ise tatlı bir lezzet ve karakteristik bir koku içerir. Bu aşamada, çiğ olarak tüketilmeyebilir. Ancak tatlılar, smoothieler veya konserve meyve olarak kullanılarak tüketilebilir.
                            <br />
                            Jackfruit, lif, C vitamini, potasyum ve diğer bazı minerallerle zengin bir meyvedir. Vegan ve vejetaryen diyetlerde et yerine kullanılan bir alternatif olarak popülerlik kazanmıştır.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeven">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                <span class="collapse-icon"></span>Ananasın Orta Kısmı Yenir Mi?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                        <div class="card-body">
                            Evet, ananasın orta kısmı yenebilir. Ancak genellikle tercih edilmez. Ananasın orta kısmı, meyvenin sert ve lifli kısmını oluşturur. Bu kısım, genellikle daha zor çiğnenir ve tat olarak ananasın yumuşak ve sulu kısmından farklıdır. Ayrıca, bazı kişilerin bu bölgenin tadını beğenmemesinden dolayı genellikle tüketilmez.
                            <br />
                            Ananasın orta kısmını tüketmek, diğer kısımlarına göre daha fazla çiğneme çabası gerektirebilir. Bu sebeple bazı kişilerde mide rahatsızlığına neden olabilir. Bu nedenle, ananasın yumuşak ve sulu bölümlerini tercih etmek genellikle daha yaygındır.
                            <br />
                            Ancak, bazı kültürlerde ananas kabuğu ve orta kısmı da dahil olmak üzere tüm meyve kullanılır. Bazı insanlar ananas kabuğunu kurutup çay yapmak veya suyu içmek için kullanabilir. Genel olarak ananasın en lezzetli ve tercih edilen kısmı, içindeki yumuşak ve sulu etli bölgelerdir.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingEight">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                <span class="collapse-icon"></span>Ananas Kilo Verdirir Mi?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                        <div class="card-body">
                            Ananasın kilo verme üzerinde doğrudan bir etkisi yoktur. Ancak sağlıklı bir diyetin parçası olarak tüketildiğinde, kilo yönetimine yardımcı olabilir. Çünkü ananas, düşük kalorili bir meyve olup aynı zamanda yüksek su içeriğine sahiptir. Su içeriği, tokluk hissi sağlamaya yardımcı olabilir. Böylece diyetinizi kontrol etmeye yardımcı olabilir.
                            <br />
                            Ananas, lif açısından zengindir. Lif, sindirim sistemini destekler, doygunluk hissi sağlar ve kan şekerini dengeleyebilir. Bu özellikler, kilo yönetimine katkıda bulunabilir. İçerisindeki C vitamini, antioksidanlar ve bromelain enzimi ile sindirim sistemine destek sağlayabilir. Vücuttaki iltihaplanmayı azaltabilir.
                            <br />
                            Ancak tek başına bir besin veya meyve, kilo verme sürecini doğrudan etkilemez. Kiloyu kontrol etmek için önemli olan genel bir sağlıklı yaşam tarzıdır. Dengeli bir diyet, düzenli egzersiz, yeterli uyku ve stresten kaçınma gibi faktörler kilo yönetiminde etkili olabilir.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingNine">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                <span class="collapse-icon"></span>Karambola (Yıldız Meyvesi) Nasıl Yenir?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                        <div class="card-body">
                            Karambola, parlak sarı renkleri ve benzersiz yıldız şekli ile dikkat çeken bir tropikal meyvedir. Bu meyveyi tüketmek oldukça basittir. İlk adım olarak, uygun bir karambola seçtiğinizden emin olun. Meyve hafifçe yumuşak olmalıdır. Ancak çok yumuşak veya kahverengi lekeler içermemelidir.
                            <br />
                            Karambola meyvesinin ucunu kesin ve dilimleyerek içindeki yıldız şeklindeki tohumları çıkarın. Dilimleri doğrudan yiyebilir veya salatalarınıza, meyve tabaklarına veya smoothielerinize ekleyebilirsiniz. Karambola, hafif ekşi ve tatlı bir lezzete sahiptir. Bu nedenle meyve sevenler için keyifli bir deneyim sunar. Ancak böbrek taşı sorunu olan kişilerin oksalik asit içeriği konusunda dikkatli olmaları önemlidir. Sağlık durumunuz hakkında endişeleriniz varsa, önceden bir sağlık uzmanına danışmanız önerilir.
                            <br />
                            Taze Hindistan Cevizi Suyu Sağlıklı Mıdır?
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                <span class="collapse-icon"></span>Taze Hindistan Cevizi Suyu Sağlıklı Mıdır?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                        <div class="card-body">
                            Taze Hindistan cevizi suyu, sağlıklı bir içecek olarak kabul edilir. Bu içecek, doğal elektrolit kaynağı olması nedeniyle vücuttaki sıvı dengesini sağlama konusunda etkilidir. Ayrıca düşük kalorili olması ve düşük şeker içeriği ile kilo kontrolüne katkıda bulunur. Antioksidanlar içermesi, vücuttaki serbest radikallerle savaşarak hücre hasarını azaltabilir.
                            <br />
                            Hindistan cevizi suyu ayrıca potasyum bakımından zengindir. Bu da sinir fonksiyonlarını, kas kontraksiyonlarını ve elektrolit dengesini destekleyebilir. Ancak herkesin sağlık durumu farklıdır ve şeker içeriğine dikkat edilmesi önemlidir. Sağlık durumu hakkında endişeleri olan bireyler, tüketimden önce bir sağlık uzmanına danışmalıdır.
                            <br />
                            Çok Fazla Ananas Yersek Ne Olur?
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingEleven">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                <span class="collapse-icon"></span>Çok Fazla Ananas Yersek Ne Olur?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
                        <div class="card-body">
                            Çok fazla ananas tüketmek, sağlık sorunlarına yol açabilir. Ananas, doğal olarak asidik bir meyve olduğu için aşırı miktarda tüketildiğinde mide rahatsızlıklarına, ekşimeye ve mide yanmalarına neden olabilir.
                            <br />
                            Ayrıca, ananasın içerdiği bromelain enzimi, aşırı alındığında mide sorunlarına veya sindirim rahatsızlıklarına yol açabilir. Ananasın doğal şeker içeriği de dikkate alınmalıdır. Çünkü aşırı şeker tüketimi kan şekerinde ani yükselmelere ve enerji dalgalanmalarına neden olabilir. Her zaman olduğu gibi, dengeli bir diyet içinde çeşitli meyveler tüketmek önemlidir. Aşırıya kaçmamak ve kişisel sağlık durumunu göz önünde bulundurmak önemlidir.
                            <br />
                            Avokado En Sağlıklı Nasıl Yenir?
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTen1">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen1" aria-expanded="false" aria-controls="collapseTen1">
                                <span class="collapse-icon"></span>Avokado En Sağlıklı Nasıl Yenir?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTen1" class="collapse" aria-labelledby="headingTen1" data-parent="#accordion">
                        <div class="card-body">
                            Avokado; sağlıklı yağlar, lifler, vitaminler ve mineraller bakımından zengin bir meyvedir. Avokadoyu doğal halinde, dilimlenmiş veya püre halinde taze olarak tüketmek en sağlıklı yöntemlerden biridir. Bu, meyvenin doğal besin değerini ve lezzetini korur.
                            <br />
                            Dilimlenmiş avokadoyu salatalara ekleyebilir, smoothielere katabilirsiniz. Verita Yemeye Hazır Avokado ile kolayca guacamole yapabilir, sebze veya tahıllı krakerler ile birlikte tüketebilirsiniz.
                            <br />
                            Her ne kadar avokado sağlıklı olsa da porsiyon kontrolü önemlidir. Çünkü avokado enerji yoğun bir meyvedir. Ayrıca bireylerin beslenme ihtiyaçlarına ve sağlık durumlarına bağlı olarak, uzman tavsiyesi almak da faydalı olabilir.
                            <br />
                            Papaya Çekirdeği Tüketilebilir Mi? Faydaları Nelerdir?
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTen2">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen2" aria-expanded="false" aria-controls="collapseTen2">
                                <span class="collapse-icon"></span>Papaya Çekirdeği Tüketilebilir Mi? Faydaları Nelerdir?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTen2" class="collapse" aria-labelledby="headingTen2" data-parent="#accordion">
                        <div class="card-body">
                            Papaya çekirdekleri, sağlığa bir dizi avantaj sunan doğal bir gıda takviyesidir. Zengin antioksidan içeriği sayesinde, vücuttaki serbest radikallerle savaşarak hücre hasarını azaltabilir ve bağışıklık sistemini güçlendirebilir. Aynı zamanda bağırsak parazitlerini önleme konusunda etkili olabilir ve sindirim sistemini destekleyerek kabızlık gibi sorunlara karşı yardımcı olabilir.
                            <br />
                            Papaya çekirdeklerinin anti-inflamatuar etkisi, eklem sağlığını destekleme ve iltihaplanma ile ilişkili sorunları azaltma potansiyeline sahiptir. Ancak, herkesin sağlık durumu farklıdır, bu nedenle bu çekirdekleri tüketmeyi düşünen bireylerin önce sağlık uzmanlarına danışmaları önerilir.
                            <br />
                            Hamileler Ananas Tüketebilir Mi?
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTen3">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen3" aria-expanded="false" aria-controls="collapseTen3">
                                <span class="collapse-icon"></span>Hamileler Ananas Tüketebilir Mi?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTen3" class="collapse" aria-labelledby="headingTen3" data-parent="#accordion">
                        <div class="card-body">
                            Evet, genellikle hamile kadınlar ananas tüketebilirler. Bu durum kişisel sağlık durumu ve hamilelikle ilgili özel durumlar göz önüne alındığında değişebilir. Ananas, C vitamini, lif ve bazı mineraller açısından zengin bir meyvedir ve sağlıklı bir diyetin bir parçası olarak tüketilebilir.
                            <br />
                            Ananasın içerdiği bromelain adlı enzim, hamilelik sırasında aşırı miktarda tüketildiğinde bazı kadınlarda mide rahatsızlığına neden olabilir. Ancak genellikle normal miktarda tüketmek hamilelik sırasında sorunlara yol açmaz.
                            <br />
                            Bununla birlikte, hamile kadınların herhangi bir diyet değişikliği yapmadan önce doktorlarına danışmaları önemlidir. Her hamilelik farklıdır ve bireylerin sağlık durumlarına göre diyetleri kişiselleştirilmelidir. Özellikle hamilelik sırasında olası alerjiler veya sindirim sorunları göz önüne alınmalıdır.
                            <br />
                            Ayrıca, hamile kadınların ananasın yanı sıra diğer meyve ve sebzeleri de içeren dengeli bir diyet sürdürmeleri önemlidir. Sağlıklı bir diyet, anne ve bebeğin gerekli besin maddelerini almasına yardımcı olabilir.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTen4">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen4" aria-expanded="false" aria-controls="collapseTen4">
                                <span class="collapse-icon"></span>Liçi Meyvesi Alerjik Reaksiyonlara Neden Olabilir Mi?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTen4" class="collapse" aria-labelledby="headingTen4" data-parent="#accordion">
                        <div class="card-body">
                            Liçi tüketimi, bazı bireylerde alerjik reaksiyonlara yol açabilir. Özellikle polen alerjisi olan kişiler, liçi yedikten sonra ağız ve boğazda kaşıntı, şişen dudaklar, yüzde kızarıklık gibi belirtilerle karşılaşabilirler. Bu durum, oral alerji sendromu olarak adlandırılır ve polen alerjisi ile meyve alerjileri arasında bir bağlantı olabilir. Liçi tüketirken herhangi bir alerjik belirti hissedildiğinde, acil tıbbi yardım önerilir. Alerji şüphesi olan bireyler, doktorlarına danışarak alerji testi yaptırmalı ve meyve tüketimine karşı dikkatli olmalıdır.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwelve">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                <span class="collapse-icon"></span>Liçi (Lychee) Şeker Hastaları İçin Uygun Mudur?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
                        <div class="card-body">
                            Liçi meyvesi, şeker hastalarının dikkatli bir şekilde tüketmeleri gereken bir meyvedir. Liçi, doğal olarak şeker içerir. Bu nedenle kan şekerini kontrol altında tutma ihtiyacı olan bireylerin porsiyon kontrolüne dikkat etmeleri önemlidir.
                            <br />
                            Bir avuç taze liçi, genellikle 15-20 gram karbonhidrat içerir. Bu, şeker hastalarının günlük karbonhidrat alımını yönetmeleri açısından önemlidir. Liçi tüketmeden önce bir sağlık profesyoneli ile görüşmek ve bireysel sağlık durumunuza uygun bir beslenme planı oluşturmak en iyisidir.
                            <br />
                            Ayrıca, liçi tüketilirken lif içeriği de göz önüne alınmalıdır. Lif, kan şekerinin daha istikrarlı bir şekilde yükselmesine yardımcı olabilir. Ancak şeker hastaları için genel olarak, meyvelerin tüketiminde dikkatli olmak ve porsiyon kontrolünü sağlamak önemlidir.
                            <br />
                            Her şeyden önce, şeker hastaları için en uygun beslenme planını belirlemek için bir sağlık profesyoneli ile iş birliği yapmak önemlidir. Bu, kişiselleştirilmiş bir yaklaşım sağlayarak kan şekerinin kontrol altında tutulmasına yardımcı olabilir.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThirteen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                <span class="collapse-icon"></span>Karambola Meyvesi Tansiyonu Düzenler Mi?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
                        <div class="card-body">
                            Karambola meyvesinin tansiyon üzerindeki etkileri tam olarak belirlenmemiştir. Ancak, potasyum, C vitamini ve lif içeriği sayesinde tansiyonu düzenleme potansiyeli olduğuna inanılmaktadır.
                            <br />
                            Yine de aşırı tüketim veya tansiyon ilaçları kullanılıyorsa, sağlık profesyoneli ile danışmak önemlidir. Karambola meyvesinin tansiyon düzenlemeye katkı sağlayıp sağlamadığına dair daha fazla araştırmaya ihtiyaç vardır.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFourteen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                <span class="collapse-icon"></span>Olgunlaşmamış Mango Yenir Mi?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordion">
                        <div class="card-body">
                            Olgunlaşmamış mango, sert ve ekşi bir tada sahiptir bu nedenle genellikle tüketilmez. Olgunlaşmamış mango, ağzınızda yapışkan bir his bırakabilir ve sindirim sisteminizi rahatsız edebilir.
                            <br />
                            Mango, genellikle olgunlaştıkça tatlı ve aromatik bir lezzet geliştirir. Olgunlaşmış mango, yumuşak ve meyve kokularını taşıyan bir dokuya sahiptir. Genellikle kabuğu hafifçe bastırıldığında verdiği hafif bir esneklik, mangonun olgun olduğunu gösterir. Lezzetli bir mango tercihi için ise Verita Yemeye Hazır Mango tercih edebilirsiniz.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFifteen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                <span class="collapse-icon"></span>Mango Kabuğu Yenir Mi?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordion">
                        <div class="card-body">
                            Mango kabuğu genellikle tüketilmez. Mango kabuğu, sert ve kalın bir yapıya sahiptir ve aynı zamanda tat profili açısından pek çekici değildir. Ayrıca, mango kabuğu bazı insanlar için sindirimi zorlaştırabilir ve mide rahatsızlıklarına neden olabilir.
                            <br />
                            Ancak bazı kültürlerde veya yemek tariflerinde olgunlaşmış mango kabuğu kullanılabilir. Bununla birlikte, bu durumlar spesifik tariflere bağlıdır ve genel olarak mango kabuğu tüketimi yaygın değildir.
                            <br />
                            Mango tüketirken, genellikle meyvenin içindeki yumuşak ve etli kısım yani meyve eti tercih edilir. Mango kabuğu, genellikle soyularak veya kesilerek çıkarılır ve meyve içindeki lezzetli kısmın ortaya çıkması sağlanır.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingSixteen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                                <span class="collapse-icon"></span>Avokado Cilde Faydalı Mıdır?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordion">
                        <div class="card-body">
                            Avokado, cilde bir dizi sağlık avantajı sunan doğal bir güzellik mührüdür. Zengin vitamin ve minerallerle dolu olan avokado, cildi derinlemesine nemlendirir, antioksidanlarla zenginleştirir ve kolajen üretimini destekler.
                            <br />
                            Bu süper meyve, anti-inflamatuar özellikleri ile ciltteki iltihaplanmayı azaltabilir, böylece sivilce ve diğer cilt sorunlarına karşı etkili bir çözüm sunar. Avokadoyu cilt bakım rutininin bir parçası olarak kullanmak, doğal ve sağlıklı bir cilt görünümü elde etmek isteyenler için harika bir seçenektir.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingSeventeen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                                <span class="collapse-icon"></span>Çarkıfelek Meyvesi (Passion Fruit) Faydaları Nelerdir?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordion">
                        <div class="card-body">
                            Çarkıfelek meyvesi, sağlık dolu bir hazinedir ve birçok faydaya sahiptir. Antioksidanlarla yüklü olan bu meyve, serbest radikallere karşı savaşarak hücresel hasarı azaltabilir ve bağışıklık sistemini güçlendirebilir. Aynı zamanda C vitamini içeriğiyle cilt sağlığını destekler, lif bakımından zengin yapısı
                            <br />
                            sindirimi düzenler ve tokluk hissi sağlar. Çarkıfelek meyvesi, doğal sedatif özellikleri sayesinde stresle başa çıkma ve uyku kalitesini artırma konusunda da yardımcı olabilir. Potasyum, demir ve fosfor gibi mineralleri içeren bu meyve, kemik sağlığına katkıda bulunurken kardiyovasküler sağlığı destekleyebilir. Çarkıfelek meyvesini taze olarak tüketmek veya içeriğine uygun tariflere eklemek, sağlıklı bir yaşam tarzına katkıda bulunabilir.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingEighteen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                                <span class="collapse-icon"></span>Çarkıfelek Meyvesi (Passion Fruit) Nasıl Tüketilir?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEighteen" class="collapse" aria-labelledby="headingEighteen" data-parent="#accordion">
                        <div class="card-body">
                            Çarkıfelek meyvesi, çeşitli lezzetli ve besleyici yöntemlerle tüketilebilen bir mucizevi meyvedir. Bu egzotik meyve, dilimlendiğinde içerisindeki sulu ve taneli dokusuyla direkt olarak tüketilebilir. Ayrıca, meyve sıkılarak veya blender ile karıştırılarak nefis bir meyve suyu elde edilebilir.
                            <br />
                            Tatlandırıcı olarak kullanıldığında yoğurt, smoothie veya dondurmalara lezzet katmanın yanı sıra, salatalarda doğranarak veya yemeklere eklenerek özgün bir aroma sağlar. Çarkıfelek meyvesi aynı zamanda reçeller, soslar veya marmelatlar için de ideal bir meyvedir. Sağlıklı ve lezzetli bir alternatif arayanlar için çarkıfelek meyvesi, sofraları renklendiren ve besleyen bir tercih olabilir.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingNineteen">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                                <span class="collapse-icon"></span>Granadilla Nedir? Faydaları Nelerdir?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseNineteen" class="collapse" aria-labelledby="headingNineteen" data-parent="#accordion">
                        <div class="card-body">
                            Granadilla, benzersiz yapısı ve sağlık dolu içeriği ile dikkat çeken tropikal bir meyvedir. Yüksek C vitamini içeriği, bağışıklık sistemini destekleyerek hastalıklara karşı koruma sağlar. Aynı zamanda lif bakımından zengin olması, sindirim sistemi üzerinde olumlu etkiler bırakır. Antioksidanlarla dolu olan granadilla, serbest radikallere karşı savaşarak hücresel hasarı azaltabilir ve yaşlanma sürecini yavaşlatabilir.
                            <br />
                            Mineral içeriği, kemik sağlığını desteklerken, düşük kalorili olması da kilo kontrolüne yardımcı olabilir. Granadillayı taze olarak tüketmek veya çeşitli tariflerde kullanmak, bu eşsiz meyvenin sağlık avantajlarından faydalanmanın lezzetli bir yoludur.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwenty">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                                <span class="collapse-icon"></span>Kakao Meyvesi Nedir? Kakao Ağaçta Mı Yetişiyor?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwenty" class="collapse" aria-labelledby="headingTwenty" data-parent="#accordion">
                        <div class="card-body">
                            Kakao meyvesi, muazzam lezzetiyle bilinen tropikal bir meyvedir. Aslında Theobroma Cacao adlı özel bir ağaçtan gelir. Bu ağaç genellikle sıcak iklimlere sahip bölgelerde, genellikle Güney Amerika, Batı Afrika ve Güneydoğu Asya gibi yerlerde yetişir. Kakao meyvesi, futbol topu şeklinde büyük bir kapsül içinde bulunur ve çeşitli renklerde, genellikle sarı, kırmızı veya mor tonlarına sahiptir.
                            <br />
                            Meyvenin içinde, muhteşem kakao çekirdekleri gizlidir. Bu çekirdekler, çikolata ürünleri yapmak için kullanılır. Kakao çekirdekleri işlendikten sonra, çikolata, kakao tozu ve kakao yağı gibi bir dizi lezzetli ürün ortaya çıkar. Kakao, sadece tatlılarda değil, aynı zamanda sıcak içeceklerde ve birçok farklı tarifte de önemli bir rol oynar. Bu lezzetli ve özel meyve, çikolata dünyasına kapı açan sihirli bir anahtardır.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwentyOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyOne" aria-expanded="false" aria-controls="collapseTwentyOne">
                                <span class="collapse-icon"></span>Yaban Mersini Neye İyi Gelir?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwentyOne" class="collapse" aria-labelledby="headingTwentyOne" data-parent="#accordion">
                        <div class="card-body">
                            Yaban mersini, şaşırtıcı besleyici özellikleri ile bilinen muazzam bir meyvedir. Özellikle yüksek antioksidan içeriği, bağışıklık sistemini güçlendirirken, kalp sağlığını destekleyen flavonoidler içerir. Ayrıca, beyin fonksiyonlarını iyileştirebilecek ve anti-inflamatuar etkileriyle genel sağlığı destekleyebilecek özel bileşenlere sahiptir.
                            <br />
                            Yaban mersini, diyabet yönetimine de katkıda bulunabilir. Taze, dondurulmuş veya kurutulmuş olarak tüketilebilen bu lezzetli meyve, sağlık bilincinde olanlar için harika bir seçenektir. Ancak herhangi bir sağlık durumu veya alerji konusunda endişeleriniz varsa, önce bir sağlık uzmanına danışmanız önemlidir.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwentyTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyTwo" aria-expanded="false" aria-controls="collapseTwentyTwo">
                                <span class="collapse-icon"></span>Ananas Nerede Yetişir?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwentyTwo" class="collapse" aria-labelledby="headingTwentyTwo" data-parent="#accordion">
                        <div class="card-body">
                            Ananas, nefis tadı ve sağlık dolu içeriğiyle bilinen tropikal bir meyvedir ve genellikle tarlalarda yetişir. Bu lezzetli meyve, sıcak, nemli iklimleri tercih eder ve genellikle Güneydoğu Asya, Latin Amerika, Afrika ve Hindistan gibi tropikal bölgelerde bulunur.
                            <br />
                            Ananas, özel bir ağaçta değil, büyük, uzun yaprakları olan bir bitki türü olan Bromeliaceae ailesine aittir. Tarlalarda yetişen ananas bitkisi, sulak ve verimli toprakları tercih eder. Ananasın tarlada büyüdüğü bu bölgelerde, güneş ışığı ve yeterli yağış mevsim boyunca bu muhteşem meyvenin olgunlaşması için gerekli olan ideal koşulları sağlar.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingTwentyThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyThree" aria-expanded="false" aria-controls="collapseTwentyThree">
                                <span class="collapse-icon"></span>Günde 3 Kivi Yersek Ne Olur?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwentyThree" class="collapse" aria-labelledby="headingTwentyThree" data-parent="#accordion">
                        <div class="card-body">
                            Günde 3 kivi tüketmek, sağlığınız için bir dizi olumlu etki sağlayabilir. Bu lezzetli meyve, yüksek C vitamini içeriğiyle bağışıklık sistemini destekler ve antioksidanlarla dolu yapısıyla hücresel sağlığı iyileştirebilir. Aynı zamanda lif bakımından zengin olan kivi, sindirim sistemini düzenleyerek bağırsak sağlığını artırabilir.
                            <br />
                            Potasyum, magnezyum ve folat gibi mineraller içerir, bu da kalp sağlığını destekler ve enerji metabolizmasına katkı sağlar. Ancak bireysel sağlık durumlarını göz önünde bulundurarak, herhangi bir beslenme değişikliği öncesi bir sağlık uzmanına danışmak önemlidir. Dengeli bir diyet içinde çeşitli meyveleri yerine getirmek genel sağlığı olumlu yönde etkileyebilir.
                        </div>
                    </div>
                </div>



            </div>
            <ul class="pagination">
                <li class="page-item  active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
            </ul>
        </div>
    </div>
</main>
<style>
    /* ... Diğer stillendirmeler ... */

    .container-bg {
        background-image: url(/images/yaban_mersini_zemin.png);
    }

    .page-content {
        background-color: rgba(255, 255, 255, 0.7); /* Saydam arka plan rengi */
        margin: 0 auto; /* Sayfa içeriğini ortalar */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* İsteğe bağlı: sayfa içeriğine bir gölge ekleyebilirsiniz */
        position: relative;
        z-index: 2; /* .page-content'ı .container'ın üzerine getirmek için z-index ekledik */
    }

    .card {
        background-color: rgba(255, 255, 255, 0.1); /* Kartların saydam arka plan rengi */
        border: none;
        border-radius: 0px;
        margin-bottom: 30px;
    }

    .card-header {
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        width: 1100px;
        margin: 0 auto;
        padding: 0px;
    }

    .btn-link {
        text-decoration: none !important;
        font-size: 33px !important;
        font-weight: bold !important;
        font-family: 'Roboto Slab SemiBold' !important;
        color: black !important;
    }

        .btn-link:hover {
            text-decoration: none !important;
            font-size: 33px !important;
            font-weight: bold !important;
            font-family: 'Roboto Slab SemiBold' !important;
            color: black !important;
        }

    .collapse-icon:before {
        content: '- ';
        margin-right: 24px;
    }

    .card-body {
        background-color: rgba(255, 255, 255, 0.1);
        font-size: 20px !important;
        line-height: 36px !important;
        margin: 0 auto;
        padding: 0px;
        width: 800px;
    }

    .collapsed .collapse-icon:before {
        content: '+ ';
        margin-right: 15px;
    }

    h4 {
        font-size: 40px !important;
        font-family: 'Aleo' !important;
        font-weight: bold !important;
        color: rgb(4,106,56) !important;
    }


    .pagination {
        display: flex;
        list-style: none;
        padding: 0;
        margin-top: 140px;
        justify-content: center;
    }

    .page-item {
        margin: 0 5px;
    }

    .page-link {
        display: inline-block;
        padding: 8px 12px;
        text-decoration: none;
        background-color: #78be20 !important;
        color: #fff;
        transition: background-color 0.3s;
    }

        .page-link:hover {
            background-color: #5f9e1a !important;
        }

    .page-item.active .page-link {
        background-color: #5f9e1a !important;
    }

</style>
@section links{

    <link href="/Themes/Default/Content/css/plugins/toastr.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/footer.min.css?v=2020100520" rel="stylesheet" type="text/css" />

    <script src="/Themes/Default/Content/js/bootstrap/bootstrap.bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/jquery-inline-svg/jquery-inline-svg.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/swiperjs/swiper-bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-migrate/jquery-migrate-3.0.1.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/responsive-toolkit/responsive-toolkit.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/js/main.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.common.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.ajaxcart.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/toastr/2.1.4/toastr.min.js?v=2020100520" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $('.btn[data-toggle="collapse"]').click(function () {
                var icon = $(this).find('.collapse-icon');
                icon.toggleClass('collapsed', !$(this).attr('aria-expanded'));
            });
        });
    </script>
    <script>
        AjaxCart.init('.header-links .qty-cart', '.header-links .qty-wishlist', '.flyout-cart');
    </script>
    <script>
        var $mobileAccount = $('.header-mobile .account-dropdown');

        $mobileAccount.on('click', function () {
            if ($mobileAccount.find('.navbar-right-item-title').hasClass('is-authenticated')) {
                window.location.pathname = '/hesabim/bilgilerim/';
            }

            if ($mobileAccount.find('.navbar-right-item-title').hasClass('no-authenticated')) {
                window.location.pathname = '/kullanici-giris/';
            }

        })
    </script>
}