@{
    ViewBag.BodyClass = "shop-header-shadow shop-home";
}
<link href="/Themes/Default/Content/css/pages/page.min.css?v=2020100520" rel="stylesheet" type="text/css" />
<main class="page-container mt-40">
    <div class="filter-box categoryNav">
        <ul>

            <li class="active last">
                <a href="/hakkimizda/">
                    Hakkımızda
                </a>
            </li>

            <li class="inactive">
                <a href="/hedeflerimiz/">
                    Hedeflerimiz
                </a>
            </li>

            <li class="inactive">
                <a href="/neden-verita/">
                    Neden Verita?
                </a>
            </li>

            <li class="inactive">
                <a href="/organizasyon-yapisi/">
                    Organizasyon Yapısı
                </a>
            </li>

            <li class="inactive">
                <a href="/kalite-garantisi/">
                    Kalite Garantisi
                </a>
            </li>

            <li class="inactive">
                <a href="/basinda-biz/">
                    Basinda Verita
                </a>
            </li>
        </ul>
    </div>
    <div class="bg-image-1 bg-image-item"></div>
    <div class="bg-image-2 bg-image-item"></div>
    <div class="bg-image-3 bg-image-item"></div>
    <div class="bg-image-4 bg-image-item"></div>
    <div class="bg-image-5 bg-image-item"></div>
    <div class="bg-image-6 bg-image-item"></div>
    <div class="bg-image-7 bg-image-item"></div>
    <div class="bg-image-8 bg-image-item"></div>
    <div class="bg-image-9 bg-image-item"></div>
    <div class="container container-body">
        <div class="page-nav-header">
            <div class="category-info">
                <div class="breadcrumb">
                    <ul style="display: flex; list-style: none; padding: 0;margin:0;font-size:12px">
                        <li style=" padding: 0 10px 0px 0;">
                            <a href="/" title="Anasayfa">Anasayfa</a>
                            <span class="delimiter">></span>
                        </li>
                        <li style=" padding: 0 10px 0px 0;">
                            <span class="current-item">Hakkımızda</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="heading-title mt-20">
            <h4>Hakkımızda</h4>
        </div>
        <div class="page-content pe-0 ">
            <div id="accordion" class="roboto-font pt-10">
                <div class="d-flex mb-20" style="background-color: rgb(255 255 255 / 63%);">
                    <div class="align-content-end col-6 d-flex justify-content-start"><img src="/Themes/Default/Content/img/about-us-images/hakkimizda-1.jpg" class="w-100" style="height:fit-content" /></div>
                    <div class="col-6">
                        <div class="d-flex flex-column align-items-start">
                            <span class="text-center mb-8 font-size-h5  fw-bold">Verita: Türkiye'nin Gurur Veren İlk Tropikal Meyve Markası</span>

                            1997 yılında İdeal Tarım Ürünleri Ticaret A.Ş.'nin öncü markası olarak hayata geçen Verita, meyve sektörüne adım atmıştır. Verita markasının fikir lideri ve sahibi S. Zeki Birincioğlu, vizyoner yaklaşımıyla Türkiye'deki çiftçilere öncelikle kivi dünyasını tanıtmıştır. Ürün portföyüne kivi meyvesini ekleyerek, sadece bir kararla değil, aynı zamanda bir çiftçi topluluğunu yeni bir deneyimle buluşturarak sektöre yön vermiştir. Bu sayede Verita, Türkiye'nin ilk kivi markası olma özelliğiyle kendine özel bir yer edinmiştir.
                            <span><br />Sektörün önde gelen meyve-sebze tedarikçisi ve dağıtıcısı olarak Verita, güvenilir meyve tadını çıkartmak isteyen meyve severler için 27 yılı aşkın bir süredir kalitesinden ödün vermeden sektörde önemli bir konumda yer almaktadır. </span>

                        </div>
                    </div>
                </div>


                <div class="d-flex mb-10 mx-10" style="background-color: rgb(255 255 255 / 63%);">
                    <div class="col-6">
                        <div class="d-flex flex-column align-items-center">
                            <span class="text-center mb-8 font-size-h5  fw-bold">Sadece En İyiler Verita Olabilir!</span>
                            Verita markası meyve yetiştiriciliği, hasadı, kalitesi, depolaması, paketlemesi ve lojistiği gibi alanlarda yeni bilgi ve teknolojileri takip ederek sektöre standartlar getiriyor. Sadece en iyilerin Verita olabileceğine inanarak, her ürünü en iyi yetiştiği bölgelerden ve en kaliteli üreticilerden tedarik ediyor. Tüm Verita ürünleri pestisit analizli, sertifikalı, hijyenik ve özenle seçilmiş ürünlerden oluşmaktadır.
                            <span><br />Verita, İyi Tarım Uygulamaları ve Global G.A.P. kriterlerine tam uyum sağlayarak, güvenilir ve kaliteli meyveleri tercih ediyor ve sizlere sunuyor. Kaliteli yerli üretimi destekleyen Verita, İyi Tarım Uygulamaları'nın yerli üreticide bir standart haline gelmesine öncülük etmektedir.</span>

                        </div>
                    </div>
                    <div class="align-content-end col-6 d-flex justify-content-end">
                        <img src="/Themes/Default/Content/img/you_name_it.jpg" class="w-100" style="height:fit-content" />
                    </div>

                </div>

                <div class="d-flex my-18 mx-13 justify-content-center" style="background-color: rgb(255 255 255 / 63%);">
                    <div class="col-6">
                        <div class="d-flex flex-column align-items-center">
                            <span class="text-center mb-8 font-size-h3 fw-bold">27 Yıllık Tecrübe ve Güvenle Türkiye’den Tüm Dünyaya</span>
                            <span class="text-center mb-8 px-5 py-5">
                                Verita; 27 yıllık tecrübesiyle ürünü ve üreticiyi çok iyi tanıyan, tüketici beklentilerini yerinde gözlemleyen bir marka haline gelmiştir. Yurt dışı organizasyonlarla uzun yıllardır süren ticari ilişkiler neticesinde, küresel ölçekte üretim, satın alma, depolama, ulaştırma ve diğer konularda kalite ve verimlilik maksimum seviyeye ulaşmıştır.
                                 </span> 
                            <span class="text-center mb-8 px-5 py-5">
                                Verita'nın Bayrampaşa halinde başlayan yolculuğu, bugün kendi üretim, depolama, paketleme, lojistik ve dağıtım merkezlerine sahip bir marka olarak sürmektedir. Türkiye'nin gurur veren ilk kivi markası olan Verita, kalite, güven ve yenilikçiliği bir araya getirerek sektördeki liderliğini sürdürmektedir.                      
                            </span>
                        </div>
                    </div>
                </div>

                <section class="design-section mb-20">
                    <div class="timeline">

                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-component timeline-content">
                            <h3>2024</h3>
                            <p>Verita Antalya Bölge Müdürlüğü kuruldu.</p>
                        </div>
                        <div class="timeline-component timeline-content">
                            <h3>2023</h3>
                            <p>2023 Buz Hokeyi Minikler Ligi Ana Sponsoru Verita markası olmuştur.
                                <br /><br />
                                Türkiye genelinde şube sayımız 12’ye yükseldi.
                                <br /><br />
                                Gazipaşa Tropikal Meyve Alım Merkezi kuruldu.
                                <br /><br />
                                Verita Bal Ananas hayatımıza girdi.
                                <br /><br />
                                İstanbul Bebek ve Ortaköy Manavlarına Verita tabelaları asıldı.
                                <br /><br />
                                Niğde Tarımsal Üretim Merkezi kuruldu.
                            </p>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-empty">
                        </div>

                        <div class="timeline-empty">
                        </div>

                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class=" timeline-component timeline-content">
                            <h3>2022</h3>
                            <p>23.Carrefoursa İşletici noktası Anadolu Hisarı açıldı.
                                <br /><br />
                                Antalya İl Tarım ve Orman Müdürlüğü’nün düzenlediği İnteraktif Avokado Çalıştayına Zeki Bey konuşmacı olarak katıldı.
                                <br /><br />
                                Taze Direkt İşletici noktası kuruldu.
                                <br /><br />
                                Verita Raw Juice Acarkent Macro raflarında yer almaya başladı.
                                <br /><br />
                                Alanya’da 11 numaralı meyve sebze halinde yazıhane açıldı.
                            </p>
                        </div>
                        <div class=" timeline-component timeline-content">
                            <h3>2021</h3>
                            <p>
                                "www.dunyaninmeyvesi.com" e-ticaret sitesi açıldı.
                                <br /><br />
                                Verita markası olarak Carrefoursa içinde 16 işletici noktada çalışmaya başladık.
                            </p>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class=" timeline-component timeline-content">
                            <h3>2020</h3>
                            <p>E- ticaret başlangıcı. Online pazar yerlerine ürün verilmeye başlandı. </p>
                        </div>
                        <div class=" timeline-component timeline-content">
                            <h3>2019</h3>
                            <p>
                                Buz Hokeyi Minikler Ligi Vitamin Sponsorluğu.
                                <br /><br />
                                Kolombiya ile ‘’Dünyanın Meyvesi’’ projesi kapsamında lansman ve basın toplantısı yapıldı.
                                <br /><br />
                                Verita Dr.Blue, Verita Elma, Çilek, Kiraz ve Kayısı Malezya’ya ihraç edildi.
                            </p>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-component timeline-content">
                            <h3>2018</h3>
                            <p>Hiçbir katkı maddesi ve koruyucu içermeyen, soğuk sıkım, taze ve doğal Verita Raw Juice raflardaki yerini aldı.<br /><br />Trabzon'da yaban mersini üretimine başlandı.</p>
                        </div>
                        <div class="timeline-component timeline-content">
                            <h3>2017</h3>
                            <p>"Dünyanın Meyvesi" projesi kapsamında ülkelerin ticaret ofisleri ile birlikte ürün lansmanları ve basın toplantıları gerçekleştirilmeye başlandı.</p> 
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-empty">
                        </div>

                        <div class="timeline-empty">
                        </div>

                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class=" timeline-component timeline-content">
                            <h3>2016</h3>
                            <p>Çok sayıfa fuar, festival, TV programı, market etkinlikleri, workshoplar, sosyal sorumluluk projeleri, spor ve sanat aktivitelerine "Vitamin Sponsoru" olunarak sponsorluk çalışmalarına hız verildi.</p>
                        </div>
                        <div class=" timeline-component timeline-content">
                            <h3>2014-2015</h3>
                            <p>Verita Taze Zerdeçal tanıtımıyla zerdeçal geniş kitlelere ulaştı.<br /><br />Tüketiciyle arasındaki duygusal bağı güçlendirmek hedefiyle sektöründe bir ilk olan "Meyveli Rehber" periyodik yayın projesi kapsamında ilk sayısı yayınlandı.</p>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class=" timeline-component timeline-content">
                            <h3>2014</h3>
                            <p>Yemeye Hazır Verita Gurme Mango, Avokado ve Papaya tüketiciyle tanıştı.<br /><br />Prochile ile Verita DrBlue Taze Yaban Mersini;<br />Procolombia ile Verita Çarkıfelek tanıtımları yapıldı.</p>
                        </div>
                        <div class=" timeline-component timeline-content">
                            <h3>2013-2014</h3>
                            <p>Adana satış noktası açıldı. <br /><br />Etiler Carrefoursa Gurme mağazasında Verita işletmesi hizmete başladı.<br /><br />Manisa ve Samsun satış noktaları açıldı.</p>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class=" timeline-component timeline-content">
                            <h3>2011-2013</h3>
                            <p>Ananas, Kuşkonmaz ve Demirhindi Verita ürün gamına katıldı.  <br /><br /> Gurme Kivi ve Dr. Blue markaları tescillendi.</p>
                        </div>
                        <div class=" timeline-component timeline-content">
                            <h3>2010-2011</h3>
                            <p>Verita Organik tescil edildi. <br /><br />Verita Tropical Costa Rica kuruldu. <br /><br /> Gold Kivi Ar-Ge çalışmaları başladı.</p>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class=" timeline-component timeline-content">

                            <h3>2007-2009</h3>
                            <p>Denizli bahçemizde üretim başladı. <br /> <br /> Verita ilklerine bir yenisini daha ekledi. Verita Meyve Salataları tüketiciyle buluştu.</p>
                        </div>
                        <div class=" timeline-component timeline-content">
                            <h3>2004-2007</h3>
                            <p>Satış noktalarına transit ürün sevkiyatı başladı. <br />
                            Taze zencefil, Verita ürün ailesine katıldı ve Türkiye ilk defa taze zencefille tanıştı.
                                <br /><br /> İzmir satış noktası açıldı. <br /> Verita Hollanda BV kuruldu.
                            </p>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class=" timeline-component timeline-content">
                            <h3>1999-2003</h3>
                            <p>Bursa satış noktası açıldı. <br /> <br /> Verita, Rizeli üretici ilk kivi tasnif makinesiyle tanıştırdı. Kivi standardizasyonu çalışmaları başladı.<br /> <br /> Bodrum satış noktası açıldı.</p>

                        </div>
                        <div class=" timeline-component timeline-content">
                            <h3>1998</h3>
                            <p>Bayrampaşa halinde, 208 no'lu Verita yazıhanesi açıldı. <br /> <br /> Ankara, İstanbul dışındaki ilk Verita satış noktası oldu.</p>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class=" timeline-component timeline-content">
                            <h3>1997</h3>
                            <p>Türkiye'nin ilk kivi markası Verita doğdu ve Türkiye kivi meyvesi ile tanıştı.</p>
                        </div>
                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-empty">
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>

</main>
<style>
    .roboto-font{
        font-size :20px !important;
        font-weight:400 !important;
    }
    .container-body {
        width: 1300px;
        margin: 0 auto;
    }

    h4 {
        font-size: 40px !important;
        font-family: 'Roboto Slab SemiBold' !important;
        font-weight: bold !important;
        color: rgb(4,106,56) !important;
    }

</style>
@section links{

    <link href="/Themes/Default/Content/css/plugins/toastr.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/pages/aboutus-page.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/footer.min.css?v=2020100520" rel="stylesheet" type="text/css" />

    <script src="/Themes/Default/Content/js/bootstrap/bootstrap.bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/jquery-inline-svg/jquery-inline-svg.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/swiperjs/swiper-bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-migrate/jquery-migrate-3.0.1.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/responsive-toolkit/responsive-toolkit.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/js/main.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.common.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.ajaxcart.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/toastr/2.1.4/toastr.min.js?v=2020100520" type="text/javascript"></script>


}

@section scripts{
    <script>
        AjaxCart.init('.header-links .qty-cart', '.header-links .qty-wishlist', '.flyout-cart');
    </script>
    <script>
        var $mobileAccount = $('.header-mobile .account-dropdown');

        $mobileAccount.on('click', function () {
            if ($mobileAccount.find('.navbar-right-item-title').hasClass('is-authenticated')) {
                window.location.pathname = '/hesabim/bilgilerim/';
            }

            if ($mobileAccount.find('.navbar-right-item-title').hasClass('no-authenticated')) {
                window.location.pathname = '/kullanici-giris/';
            }

        })
    </script>
}