@{
    ViewBag.BodyClass = "shop-header-shadow contact-us-page shop-home";
}


<link href="/Themes/Default/Content/css/pages/page.min.css?v=2020100520" rel="stylesheet" type="text/css" />
<main class="page-container">
    <div class="world"></div>
    <div class="container">
        <div class="page-content-full w-100">
            <div class="locations mt-20">
                <div class="slider-locations swiper">
                    <div class="swiper-wrapper">
                        <div class="location swiper-slide">
                            <p>Türkiye</p>
                            <div class="company">İdeal Tarım Ürünleri Tic. AŞ.</div>
                            <div class="addess">Halkalı Merkez Mahallesi A bay Caddesi Atlas Sokak Atlas İş Merkezi No:1/2 Küçükçekmece 34303 İstanbul, Türkiye</div>
                            <div class="contact-info">
                                T: +90 212 470 74 44<br />
                                F: +90 212 470 83 33<br />
                                www.verita.com.tr<br />
                                info@verita.com.tr
                            </div>
                        </div>
                        <div class="location swiper-slide">
                            <p>Hollanda</p>
                            <div class="company">Verita Holland BV</div>
                            <div class="addess">Handelsweg 35-2988 DB<br />Ridderkerk, Holland</div>
                            <div class="contact-info">
                                T: +31 180 615750<br />
                                F: +90 212 470 83 33<br />
                                info@veritaholland.nl<br />
                                www.veritaholland.nl
                            </div>
                        </div>
                        <div class="location swiper-slide">
                            <p>Kosta Rika</p>
                            <div class="company">Verita Tropicals Costa Rica SA</div>
                            <div class="addess">75 mts. este de Sedeco Ciudad <br />Queseda San Carlos Alajuela,<br />Costa Rica</div>
                            <div class="contact-info">
                                T: +506 86 25 83 37<br />
                                info@verita.cr<br />
                                www.verita.cr
                            </div>
                        </div>
                        <div class="location swiper-slide">
                            
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

            <div class="row py-10">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="heading-title mb-5">
                        <h4>Bizimle İletişime Geçin</h4>

                    </div>
                    <form method="post" action="/bize-ulasin/">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <label class="form-label-lg" for="FullName">Ad&#x131;n&#x131;z Soyad&#x131;n&#x131;z</label>
                                <input placeholder="Adınız Soyadınız" class="fullname form-control-lg" type="text" data-val="true" data-val-required="Bo&#x15F; Ge&#xE7;ilemez" id="FullName" name="FullName" value="" />
                                <span class="field-validation-valid" data-valmsg-for="FullName" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-6">
                                <label class="form-label-lg" for="Email">E-Posta Adresiniz</label>
                                <input placeholder="E-Posta Adresiniz" class="email form-control-lg" type="email" data-val="true" data-val-email="common.wrongemail" data-val-required="Bo&#x15F; Ge&#xE7;ilemez" id="Email" name="Email" value="" />
                                <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-12">
                                <label class="form-label-lg" for="Subject">Konu</label>
                                <input placeholder="Konu" class="subject form-control-lg" type="text" data-val="true" data-val-required="Bo&#x15F; Ge&#xE7;ilemez" id="Subject" name="Subject" value="" />
                                <span class="field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-12">
                                <label class="form-label-lg" for="Enquiry">Mesaj</label>
                                <textarea placeholder="Mesaj" class="enquiry form-control-lg" data-val="true" data-val-required="Bo&#x15F; Ge&#xE7;ilemez" id="Enquiry" name="Enquiry">
</textarea>
                                <span class="field-validation-valid" data-valmsg-for="Enquiry" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" name="send-email" value="Gönder" class="btn btn-primary">
                                    Gönder
                                </button>
                            </div>
                        </div>
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GOfCB82RilCpbAvFr-ERy2HcwB8YzCx5qKwOAHo6NjndwjoNKkk1w7crGcucqfYdAcizpKgGMpC3QVSZ4M67xUp2xJQzIhH5sfTkOtNzB_5Ou3hOKDPjjNSAWX4fxKCCvU6tTww9uIf7EZJi_u2fFw" />
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 col-6">
                    <div class="heading-title mb-5 ms-10">
                        <h4 class="mb-10">İş Başvurusu</h4>
                        <p>
                            Şirket hedef ve politikaları doğrultusunda; Verita ekibinin bir parçası olmayı arzulayan, yenilikçi ve dinamik yapıda çalışmaktan mutlu olacak tüm adaylar ik@verita.com.tr
                            mail adresi üzerinde özgeçmişlerini iletebilir.<br /><br />
                            Toplanan tüm özgeçmişler, genel başvuru havuzunda değerlendirilmek üzere saklanmaktadır. Yapılan başvurular, doğru işe doğru kişinin atanması sağlayacak şekilde
                            objektif değerlendirmelerle birlikte sonuca ulaştırılmaktadır.
                        </p>
                    </div>
                    <div class="d-flex justify-content-start align-items-baseline flex-row ms-10">
                        <span class="me-5">Müşteri Destek Hattı</span>
                        <span class="fs-font-size-h4">444 9 257</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
</main>



@section links{


    <link href="/Themes/Default/Content/css/plugins/toastr.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/showcase.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/footer.min.css?v=2020100520" rel="stylesheet" type="text/css" />

    <script src="/Themes/Default/Content/js/bootstrap/bootstrap.bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/jquery-inline-svg/jquery-inline-svg.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/swiperjs/swiper-bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-migrate/jquery-migrate-3.0.1.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/responsive-toolkit/responsive-toolkit.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/js/main.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.common.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.ajaxcart.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/toastr/2.1.4/toastr.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-lazy/jquery.lazy.min.js?v=2020100520" type="text/javascript"></script>

}

@section scripts{
    <script>
        AjaxCart.init('.header-links .qty-cart', '.header-links .qty-wishlist', '.flyout-cart');
    </script>
    <script>
        var $mobileAccount = $('.header-mobile .account-dropdown');

        $mobileAccount.on('click', function () {
            if ($mobileAccount.find('.navbar-right-item-title').hasClass('is-authenticated')) {
                window.location.pathname = '/hesabim/bilgilerim/';
            }

            if ($mobileAccount.find('.navbar-right-item-title').hasClass('no-authenticated')) {
                window.location.pathname = '/kullanici-giris/';
            }

        })
    </script>
    <script>
        $(document).ready(function () {

            var swipers = new Swiper('.slider-locations', {
                // Disable preloading of all images
                preloadImages: false,
                // Enable lazy loading
                lazy: {
                    elementClass: 'image',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                updateOnWindowResize: true,
                breakpointsInverse: true,
                breakpoints: {
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 25
                    },
                    992: {
                        slidesPerView: 4,
                        spaceBetween: 20
                    }
                }
            });

        });
    </script>
}