@{
    ViewBag.BodyClass = "shop-home";
}
<style>
    .slider-bg h2 {
        color: #fff;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: 2px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .overlay-name span {
        display: block;
        width: 100%;
        float: left;
        font-family: 'Aleo';
    }
</style>
<style>
    /*eski haline dönmesi için body-bg içini dışarı kopyala*/
    .body-bg{
        background-image: url(/images/bg.png);
        background-size: 100%;
        background-position: center;
        overflow: hidden;
    }
    .swiper-slide {
        position: relative;
    }

    .swiper-slide .slider-bg {
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

    .swiper-slide .slider-bg::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Buradaki 0.5 saydamlık seviyesini dilediğiniz gibi ayarlayabilirsiniz */
        z-index: 2;
    }

    .swiper-slide .slider-bg h2 {
        color: #fff;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: 2px;
        font-weight: 700;
        margin-bottom: 20px;
        position: relative;
        z-index: 3;
    }

    .big-slider .big-slider-swiper .swiper{
        border-radius:0px !important;
    }

    .swiper-slide .slider-bg .btn-big {
        position: relative;
        z-index: 3; /* Butonun z-index değerini artırın */
    }

    /* Diğer stiller buraya eklenmeye devam edebilir */
</style>



<section class="big-slider">
    <div class="big-slider-swiper" style="height:100vh;">
        <div class="swiper">
            <div class="swiper-wrapper"> 
            </div>
        </div>
        <div class="big-slider-button-prev"></div>
        <div class="big-slider-button-next"></div>
    </div>
</section>
@*eski haline dönmesi için body-bg içini dışarı kopyala*@
<div class="body-bg">
<div class="home-middle">
@*    <div class="left-area"></div>
    <div class="right-area"></div>*@
    <div class="container contents">
        <div class="mt-7" style="margin-right: 1.75rem !important;">
            <div class="showcase-container">
                <section class="showcase">
                    <div class="container">
                        <div class="showcase-title">
                            <h4>Dünyanın meyvesi, sizin için!</h4>
                        </div>
                        <div class="left-image-showcase showcase-scope-1">

                            <div class="showcase-products">
                                <div class="showcase-wrap">
                                    <div class="showcase-slider-1 swiper">
                                        <div class="showcase-slider__wrapper swiper-wrapper">
                                            <div class="swiper-slide">

                                                <div class="product-item">
                                                    <a href="/egzotik-meyveler/"
                                                       class="product-link"></a>

                                                    <div class="product-image">
                                                        <img src="/i/l/000/0000027_ahududu.jpeg" alt="ahududu">
                                                    </div>

                                                    <div class="overlay">
                                                        <div class="middle">
                                                            <div></div>
                                                            <div class="overlay-name">
                                                                <span>Egzotik</span>
                                                                <span>Meyveler</span> 
                                                            </div>
                                                            <a class="btn-big overlay-btn mx-10 py-2">
                                                                İNCELE
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="swiper-slide">

                                                <div class="product-item">
                                                    <a href="/orman-meyveleri/"
                                                       class="product-link"></a>

                                                    <div class="product-image">
                                                        <img src="/i/l/000/0000028_ananas.png" alt="ananas">
                                                    </div>

                                                    <div class="overlay">
                                                        <div class="middle">
                                                            <div></div>
                                                            <div class="overlay-name">
                                                                <span>Orman</span>
                                                                <span>Meyveleri</span> 
                                                            </div>
                                                            <a class="btn-big overlay-btn mx-10 py-2">
                                                                İNCELE
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="swiper-slide">

                                                <div class="product-item">
                                                    <a href="/yemeye-hazir/"
                                                       class="product-link"></a>

                                                    <div class="product-image">
                                                        <img src="/i/l/000/0000029_avokado.jpeg" alt="avakado">
                                                    </div>

                                                    <div class="overlay">
                                                        <div class="middle">
                                                            <div></div>
                                                            <div class="overlay-name">
                                                                <span>Yemeye</span> 
                                                                <span>Hazır</span>  
                                                            </div>
                                                            <a class="btn-big overlay-btn mx-10 py-2">
                                                                İNCELE
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="swiper-slide">

                                                <div class="product-item">
                                                    <a href="/nadir-bulunan-meyveler/"
                                                       class="product-link"></a>

                                                    <div class="product-image">
                                                        <img src="/i/l/000/0000030_hindistan-cevizi.jpeg" alt="hindistan-cevizi">
                                                    </div>

                                                    <div class="overlay">
                                                        <div class="middle">
                                                            <div></div>
                                                            <div class="overlay-name">
                                                                <span>Nadir</span>
                                                                <span>Bulunan Meyveler</span>
                                                            </div>
                                                            <a class="btn-big overlay-btn mx-10 py-2">
                                                               İNCELE
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="swiper-slide">

                                                <div class="product-item">
                                                    <a href="/klasik-meyveler/"
                                                       class="product-link"></a>

                                                    <div class="product-image">
                                                        <img src="/i/l/000/0000030_hindistan-cevizi.jpeg" alt="hindistan-cevizi">
                                                    </div>

                                                    <div class="overlay">
                                                        <div class="middle">
                                                            <div></div>
                                                            <div class="overlay-name">
                                                                <span>Klasik</span>
                                                                <span>Meyveler</span>
                                                            </div>
                                                            <a class="btn-big overlay-btn mx-10 py-2">
                                                                İNCELE
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="swiper-slide">

                                                <div class="product-item">
                                                    <a href="/verita-fresh-cut/"
                                                       class="product-link"></a>

                                                    <div class="product-image">
                                                        <img src="/i/l/000/0000030_hindistan-cevizi.jpeg" alt="hindistan-cevizi">
                                                    </div>

                                                    <div class="overlay">
                                                        <div class="middle">
                                                            <div></div>
                                                            <div class="overlay-name">
                                                                <span>Verita</span>
                                                                <span>Fresh Cut</span>
                                                            </div>
                                                            <a class="btn-big overlay-btn mx-10 py-2">
                                                                İNCELE
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="swiper-slide">

                                                <div class="product-item">
                                                    <a href="/verita-raw-juice/"
                                                       class="product-link"></a>

                                                    <div class="product-image">
                                                        <img src="/i/l/000/0000030_hindistan-cevizi.jpeg" alt="hindistan-cevizi">
                                                    </div>

                                                    <div class="overlay">
                                                        <div class="middle">
                                                            <div></div>
                                                            <div class="overlay-name">
                                                                <span>Verita</span>
                                                                <span>Raw Juice</span>
                                                            </div>
                                                            <a class="btn-big overlay-btn mx-10 py-2">
                                                                İNCELE
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="swiper-slide">

                                                <div class="product-item">
                                                    <a href="/sebzeler-kok-bitkiler/"
                                                       class="product-link"></a>

                                                    <div class="product-image">
                                                        <img src="/i/l/000/0000030_hindistan-cevizi.jpeg" alt="hindistan-cevizi">
                                                    </div>

                                                    <div class="overlay">
                                                        <div class="middle">
                                                            <div></div>
                                                            <div class="overlay-name">
                                                                <span>Sebzeler ve</span>
                                                                <span>Kök Bitkiler</span>
                                                            </div>
                                                            <a class="btn-big overlay-btn mx-10 py-2">
                                                                İNCELE
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                        <div class="swiper-pagination"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

        </div>

        <div class="d-flex mb-20 mx-10 box-shadow"
             style="background-color: rgb(255 255 255 / 63%); margin-left: 2.2rem !important; ">
            <div class="align-content-end col-6 d-flex justify-content-start">
                <img src="../Themes/Default/Content/img/about-little.jpg"
                     class="w-100" style="height:fit-content" />
            </div>
            <div class="col-6 d-flex align-items-center">
                <div class="d-flex flex-column align-items-center">
                    <span class="text-center mb-8 font-size-h3 title">Hakkımızda</span>
                    <span class="text-center mb-8 px-5 py-5">
                        Sed ut perspiciatis
                        unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa
                        quae ab illo inventore veritatis et quasi architecto
                        beatae vitae dicta sunt explicabo. Nemo enim ipsam
                        voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit, sed quia consequuntur magni dolores eos qui
                        ratione voluptatem sequi nesciunt. Neque porro quisquam
                        est, qui dolorem ipsum quia dolor sit amet, consectetur,
                        adipisci velit, sed quia non numquam eius modi tempora
                        incidunt ut labore et dolore magnam aliquam quaerat
                        voluptatem. Ut enim ad minima veniam, quis nostrum
                        exercitationem ullam corporis suscipit laboriosam, nisi
                        ut aliquid ex ea commodi consequatur? Quis autem vel eum
                        iure reprehenderit qui in ea voluptate velit esse quam
                        nihil molestiae consequatur, vel illum qui dolorem eum
                        fugiat quo voluptas nulla pariatur
                    </span>
                    <a href="/hakkimizda" class="btn-big">TÜMÜNÜ GÖR</a>
                </div>
            </div>
        </div>

        <div class="d-flex box-shadow mb-10 mx-10"
             style="background-color: rgb(255 255 255 / 63%);">
            <div class="col-6 d-flex align-items-center">
                <div class="d-flex flex-column align-items-center">
                    <span class="text-center mb-8 font-size-h3 title">
                        Neden
                        Verita?
                    </span>
                    <span class="text-center mb-8 px-5 py-5">
                        Sed ut perspiciatis
                        unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa
                        quae ab illo inventore veritatis et quasi architecto
                        beatae vitae dicta sunt explicabo. Nemo enim ipsam
                        voluptatem quia voluptas sit aspernatur aut odit aut
                        fugit, sed quia consequuntur magni dolores eos qui
                        ratione voluptatem sequi nesciunt. Neque porro quisquam
                        est, qui dolorem ipsum quia dolor sit amet, consectetur,
                        adipisci velit, sed quia non numquam eius modi tempora
                        incidunt ut labore et dolore magnam aliquam quaerat
                        voluptatem. Ut enim ad minima veniam, quis nostrum
                        exercitationem ullam corporis suscipit laboriosam, nisi
                        ut aliquid ex ea commodi consequatur? Quis autem vel eum
                        iure reprehenderit qui in ea voluptate velit esse quam
                        nihil molestiae consequatur, vel illum qui dolorem eum
                        fugiat quo voluptas nulla pariatur
                    </span>
                    <a href="/verita" class="btn-big">TÜMÜNÜ GÖR</a>
                </div>
            </div>
            <div class="align-content-end col-6 d-flex align-items-center">
                <img src="../Themes/Default/Content/img/why-verita-little.jpg"
                     class="w-100" style="height:fit-content" />
            </div>

        </div>

    </div>

</div>
<div class="d-flex w-100 mt-20"
     style="height: 500px; background: url(/Themes/Default/Content/img/rawjuice.png); background-size: cover; background-position:center; background-repeat: no-repeat; ">
</div>
<div class="home-middle mt-10">
    <div class="container contents">
        <div class="d-flex mb-20 mx-10 box-shadow mt-20"
             style="background-color: rgb(255 255 255 / 63%);">
            <div class="align-content-end col-6 d-flex align-items-center">
                <img src="../Themes/Default/Content/img/guvenli-gida.jpg"
                     class="w-100" style="height:fit-content" />
            </div>
            <div class="col-6 d-flex align-items-center">
                <div class="d-flex flex-column align-items-center">
                    <span class="text-center mb-8 font-size-h3 title">
                        Gıda
                        Güvenliği
                    </span>
                    <span class="text-center mb-8 px-5 py-5">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</span>
                    <a href="/gida-guvenligi" class="btn-big">TÜMÜNÜ GÖR</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb-10">
    <section class="showcase">
        <div class="container">

            <div class="showcase-title">
                <h4>Meyveli Rehber'den!</h4>
            </div>

            <div class="left-image-showcase showcase-scope-meyveli">

                <div class="showcase-products">
                    <div class="showcase-wrap">
                        <div class="showcase-slider-meyveli swiper">
                            <div class="showcase-slider__wrapper swiper-wrapper">
                                <div class="swiper-slide">

                                    <div class="product-item">
                                        <a target="_blank" href="https://www.dunyaninmeyvesi.com/"
                                           class="product-link"></a>

                                        <div class="product-image">
                                            <img src="/i/l/000/0000042_tropikal-zencefil-yerellesir-mi-1.png" alt="tropikal-zencefil">
                                        </div>

                                        <div class="overlay">
                                            <div class="middle">
                                                <div></div>
                                                <div class="overlay-name">
                                                    Tropikal
                                                    Zencefil Yerelleşir mi
                                                    1?
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">

                                    <div class="product-item">
                                        <a target="_blank" href="https://www.dunyaninmeyvesi.com/" class="product-link"></a>

                                        <div class="product-image">
                                            <img src="/i/l/000/0000042_tropikal-zencefil-yerellesir-mi-1.png" alt="tropikal-zencefil">
                                        </div>

                                        <div class="overlay">
                                            <div class="middle">
                                                <div></div>
                                                <div class="overlay-name">
                                                    Tropikal
                                                    Zencefil Yerelleşir
                                                    mi?
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">

                                    <div class="product-item">
                                        <a target="_blank" href="https://www.dunyaninmeyvesi.com/" class="product-link"></a>

                                        <div class="product-image">
                                            <img src="/i/l/000/0000042_tropikal-zencefil-yerellesir-mi-1.png" alt="tropikal-zencefil">
                                        </div>

                                        <div class="overlay">
                                            <div class="middle">
                                                <div></div>
                                                <div class="overlay-name">
                                                    Tropikal
                                                    Zencefil Yerelleşir
                                                    mi?
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">

                                    <div class="product-item">
                                        <a href="/blog4/" class="product-link"></a>

                                        <div class="product-image">
                                            <img src="/i/l/000/0000042_tropikal-zencefil-yerellesir-mi-1.png" alt="tropikal-zencefil">
                                        </div>

                                        <div class="overlay">
                                            <div class="middle">
                                                <div></div>
                                                <div class="overlay-name">
                                                    Tropikal
                                                    Zencefil Yerelle&#x15F;ir
                                                    mi?
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<div class="mb-20">
    <div class="newsletter">

        <div class="footer-newsletter py-20">
            <p>Meyveli Rehber'e<br /> abone olun,</p>

            <span>
                sadece mevye ve sebze hakkında her<br /> şeyden ilk siz
                haberdar olun.
            </span>
            <div class="input-group mt-5">
                <input id="newsletter-email"
                       class="newsletter-text form-control"
                       placeholder="E-posta adresiniz" type="email"
                       name="NewsletterEmail" value />
                <button type="button" id="newsletter-subscribe-button"
                        class="newsletter-button btn btn-white"></button>

            </div>
        </div>

    </div>

</div>
<div class="mb-10">

    <section class="showcase">
        <div class="container">

            <div class="showcase-title">
                <h4>Nerelerdeyiz?</h4>
            </div>

            <div class="left-image-showcase showcase-scope-branch">  
                <div class="showcase-products">
                    <div class="showcase-wrap">
                        <div class="showcase-slider-branch swiper">
                            <div class="showcase-slider__wrapper swiper-wrapper">
                                <div class="swiper-slide">

                                    <div class="product-item d-flex">
                                        <div class="product-image branch">
                                            <img src="/Themes/Default/Content/img/logo_verita.jpg" alt="verita">
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">

                                    <div class="product-item d-flex">
                                        <div class="product-image branch">
                                            <img src="/Themes/Default/Content/img/carrefour.jpg" style="width: 220px !important;" alt="carrefour">
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">

                                    <div class="product-item d-flex">
                                        <div class="product-image branch">
                                            <img src="/Themes/Default/Content/img/gurme.jpg" alt="gurme">
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">

                                    <div class="product-item d-flex">
                                        <div class="product-image branch">
                                            <img src="/Themes/Default/Content/img/macrocenter.jpg" alt="macrocenter">
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">

                                    <div class="product-item d-flex">
                                        <div class="product-image branch">
                                            <img src="/Themes/Default/Content/img/migros.jpg" alt="migros">
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide">

                                    <div class="product-item d-flex">
                                        <div class="product-image branch">
                                            <img src="/Themes/Default/Content/img/gurme.jpg" alt="gurme">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<div class="mb-10">

    <section class="showcase client-showcase">
        <div class="container">

            <div class="showcase-title">
                <h4>Müşterilerimiz diyor ki;</h4>
            </div>

            <div class="left-image-showcase showcase-scope-client">

                <div class="showcase-products clients">
                    <div class="showcase-wrap  box-shadow">
                        <div class="showcase-slider-client swiper">
                            <div class="showcase-slider__wrapper swiper-wrapper ">

                                <div class="swiper-slide box-shadow">
                                    <div class="client-item d-flex">
                                        <div class="image">
                                            <img src="../Themes/Default/Content/img/guvenli-gida.jpg" />
                                        </div>
                                        <div class="name mt-5">Adı Soyadı</div>
                                        <div class="title">
                                            Migros Meyve Sebze
                                            Kategorisi
                                        </div>
                                        <div class="duty mb-5">Satınalma Müdürü</div>
                                        <div class="description">
                                            Sed ut
                                            perspiciatis unde omnis iste natus
                                            error sit voluptatem accusantium
                                            doloremque laudantium, totam rem
                                            aperiam, eaque ipsa quae ab illo
                                            inventore veritatis et quasi
                                            architecto beatae vitae dicta sunt
                                            explicabo. Nemo enim ipsam
                                            voluptatem quia voluptas sit
                                            aspernatur aut odit aut fugit, sed
                                            quia consequuntur magni dolores eos
                                            qui ratione voluptatem sequi
                                            nesciunt. Neque porro quisquam est,
                                            qui dolorem ipsum quia dolor sit
                                            amet, consectetur, adipisci velit,
                                            sed quia non numquam eius modi
                                            tempora incidunt ut labore et dolore
                                            magnam aliquam quaerat voluptatem.
                                            Ut enim ad minima veniam, quis
                                            nostrum exercitationem ullam
                                            corporis suscipit laboriosam, nisi
                                            ut aliquid
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide box-shadow">
                                    <div class="client-item d-flex">
                                        <div class="image">
                                            <img src="../Themes/Default/Content/img/guvenli-gida.jpg" />
                                        </div>
                                        <div class="name mt-5">Adı Soyadı</div>
                                        <div class="title">
                                            Migros Meyve Sebze
                                            Kategorisi
                                        </div>
                                        <div class="duty mb-5">Satınalma Müdürü</div>
                                        <div class="description">
                                            Sed ut
                                            perspiciatis unde omnis iste natus
                                            error sit voluptatem accusantium
                                            doloremque laudantium, totam rem
                                            aperiam, eaque ipsa quae ab illo
                                            inventore veritatis et quasi
                                            architecto beatae vitae dicta sunt
                                            explicabo. Nemo enim ipsam
                                            voluptatem quia voluptas sit
                                            aspernatur aut odit aut fugit, sed
                                            quia consequuntur magni dolores eos
                                            qui ratione voluptatem sequi
                                            nesciunt. Neque porro quisquam est,
                                            qui dolorem ipsum quia dolor sit
                                            amet, consectetur, adipisci velit,
                                            sed quia non numquam eius modi
                                            tempora incidunt ut labore et dolore
                                            magnam aliquam quaerat voluptatem.
                                            Ut enim ad minima veniam, quis
                                            nostrum exercitationem ullam
                                            corporis suscipit laboriosam, nisi
                                            ut aliquid
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide box-shadow">
                                    <div class="client-item d-flex">
                                        <div class="image">
                                            <img src="../Themes/Default/Content/img/guvenli-gida.jpg" />
                                        </div>
                                        <div class="name mt-5">Adı Soyadı</div>
                                        <div class="title">
                                            Migros Meyve Sebze
                                            Kategorisi
                                        </div>
                                        <div class="duty mb-5">Satınalma Müdürü</div>
                                        <div class="description">
                                            Sed ut
                                            perspiciatis unde omnis iste natus
                                            error sit voluptatem accusantium
                                            doloremque laudantium, totam rem
                                            aperiam, eaque ipsa quae ab illo
                                            inventore veritatis et quasi
                                            architecto beatae vitae dicta sunt
                                            explicabo. Nemo enim ipsam
                                            voluptatem quia voluptas sit
                                            aspernatur aut odit aut fugit, sed
                                            quia consequuntur magni dolores eos
                                            qui ratione voluptatem sequi
                                            nesciunt. Neque porro quisquam est,
                                            qui dolorem ipsum quia dolor sit
                                            amet, consectetur, adipisci velit,
                                            sed quia non numquam eius modi
                                            tempora incidunt ut labore et dolore
                                            magnam aliquam quaerat voluptatem.
                                            Ut enim ad minima veniam, quis
                                            nostrum exercitationem ullam
                                            corporis suscipit laboriosam, nisi
                                            ut aliquid
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide box-shadow">
                                    <div class="client-item d-flex">
                                        <div class="image">
                                            <img src="../Themes/Default/Content/img/guvenli-gida.jpg" />
                                        </div>
                                        <div class="name mt-5">Adı Soyadı</div>
                                        <div class="title">
                                            Migros Meyve Sebze
                                            Kategorisi
                                        </div>
                                        <div class="duty mb-5">Satınalma Müdürü</div>
                                        <div class="description">
                                            Sed ut
                                            perspiciatis unde omnis iste natus
                                            error sit voluptatem accusantium
                                            doloremque laudantium, totam rem
                                            aperiam, eaque ipsa quae ab illo
                                            inventore veritatis et quasi
                                            architecto beatae vitae dicta sunt
                                            explicabo. Nemo enim ipsam
                                            voluptatem quia voluptas sit
                                            aspernatur aut odit aut fugit, sed
                                            quia consequuntur magni dolores eos
                                            qui ratione voluptatem sequi
                                            nesciunt. Neque porro quisquam est,
                                            qui dolorem ipsum quia dolor sit
                                            amet, consectetur, adipisci velit,
                                            sed quia non numquam eius modi
                                            tempora incidunt ut labore et dolore
                                            magnam aliquam quaerat voluptatem.
                                            Ut enim ad minima veniam, quis
                                            nostrum exercitationem ullam
                                            corporis suscipit laboriosam, nisi
                                            ut aliquid
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
@section links
{
    <link href="/Themes/Default/Content/css/plugins/toastr.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/shop-info.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/store-showcase.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/blog-showcase.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/product-item.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/product-showcase-home.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/heading-title.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/fly-coffee-core.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/product-image.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/featured-product-single.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/slider.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/footer.min.css?v=2020100520" rel="stylesheet" type="text/css" /> 
    <link href="/Themes/Default/Content/css/layout/shop/showcase.min.css?v=2020100520" rel="stylesheet" type="text/css" />

    <script src="/Themes/Default/Content/js/bootstrap/bootstrap.bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/jquery-inline-svg/jquery-inline-svg.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/swiperjs/swiper-bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-migrate/jquery-migrate-3.0.1.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/responsive-toolkit/responsive-toolkit.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/js/main.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.common.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.ajaxcart.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/toastr/2.1.4/toastr.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-lazy/jquery.lazy.min.js?v=2020100520" type="text/javascript"></script>

}

@section scripts{
    <script>
        AjaxCart.init('.header-links .qty-cart', '.header-links .qty-wishlist', '.flyout-cart');
    </script>
    <script>
        var $mobileAccount = $('.header-mobile .account-dropdown');

        $mobileAccount.on('click', function () {
            if ($mobileAccount.find('.navbar-right-item-title').hasClass('is-authenticated')) {
                window.location.pathname = '/hesabim/bilgilerim/';
            }

            if ($mobileAccount.find('.navbar-right-item-title').hasClass('no-authenticated')) {
                window.location.pathname = '/kullanici-giris/';
            }

        })
    </script>
    <script>
        $(document).ready(function () {

            var swipers = new Swiper('.showcase-slider-client', {
                // Disable preloading of all images
                autoplay: {
                    delay: 3000,
                },
                preloadImages: false,
                // Enable lazy loading
                lazy: {
                    elementClass: 'image',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                updateOnWindowResize: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                breakpointsInverse: true,
                breakpoints: {
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 25
                    },
                    992: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    }
                }
            });

        });
    </script>
    <script>
        $(document).ready(function () {

            var swipers = new Swiper('.showcase-slider-branch', {
                // Disable preloading of all images
                autoplay: {
                    delay: 3000,
                },
                preloadImages: false,
                // Enable lazy loading
                lazy: {
                    elementClass: 'product-image',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                updateOnWindowResize: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                breakpointsInverse: true,
                breakpoints: {
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 25
                    },
                    992: {
                        slidesPerView: 5,
                        spaceBetween: 20
                    }
                }
            });

        });
    </script>
    <script>
        function newsletter_subscribe() {
            var postData = {
                email: $("#newsletter-email").val()
            };
            $.ajax({
                cache: false,
                type: "POST",
                url: "/bulten-kayit/",
                data: postData,
                success: function (data) {
                    if (data.success == true) {
                        $('#newsletter-email').val('');
                        displayNotification(data.result, 'success');
                    } else {
                        displayNotification(data.result, 'error');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    subscribeProgress.hide();
                }
            });
        }

        $(document).ready(function () {
            $('#newsletter-subscribe-button').on('click', function () {
                newsletter_subscribe();
            });
            $('#newsletter-email').on('keydown', function (event) {
                if (event.keyCode == 13) {
                    $("#newsletter-subscribe-button").click();
                    return false;
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            var swipers = new Swiper('.showcase-slider-meyveli', {
                // Disable preloading of all images
                autoplay: {
                    delay: 3000,
                },
                preloadImages: false,
                // Enable lazy loading
                lazy: {
                    elementClass: 'product-image',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                updateOnWindowResize: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                breakpointsInverse: true,
                breakpoints: {
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 25
                    },
                    992: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    }
                }
            });

        });
    </script>
    <script>
        $(document).ready(function () {

            var swipers = new Swiper('.showcase-slider-1', {
                // Disable preloading of all images
             
                preloadImages: false,
                // Enable lazy loading
                lazy: {
                    elementClass: 'product-image',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                updateOnWindowResize: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                breakpointsInverse: true,
                breakpoints: {
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 25
                    },
                    992: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    }
                }
            });

        });
    </script>
    <script>
        // Initialize Slide Items
        function initSlides() {

            // Variables
            var mobileJson = [{ "Id": 1, "Title": "Her zaman <br> mevsiminde taptaze", "Name": "", "PictureUrl": "/i/l/000/0000008.jpeg", "Url": "/", "Mobile": true, "Tablet": true, "Desktop": true }, { "Id": 2, "Title": "Her zaman <br> mevsiminde taptaze 2", "Name": "Slider2", "PictureUrl": "/i/l/000/0000025_slider2.jpeg", "Url": null, "Mobile": true, "Tablet": true, "Desktop": true }];
            var tabletJson = [{ "Id": 1, "Title": "Her zaman <br> mevsiminde taptaze", "Name": "", "PictureUrl": "/i/l/000/0000008.jpeg", "Url": "/", "Mobile": true, "Tablet": true, "Desktop": true }, { "Id": 2, "Title": "Her zaman <br> mevsiminde taptaze 2", "Name": "Slider2", "PictureUrl": "/i/l/000/0000025_slider2.jpeg", "Url": null, "Mobile": true, "Tablet": true, "Desktop": true }];
            var desktopJson = [{ "Id": 1, "Title": "Her zaman <br> mevsiminde taptaze", "Name": "", "PictureUrl": "/i/l/000/0000008.jpeg", "Url": "/", "Mobile": true, "Tablet": true, "Desktop": true }, { "Id": 2, "Title": "Her zaman <br> mevsiminde taptaze 2", "Name": "Slider2", "PictureUrl": "/i/l/000/0000025_slider2.jpeg", "Url": null, "Mobile": true, "Tablet": true, "Desktop": true }];

            // Slide Array
            var slides = new Array();

            // Viewport Detect
            if (ResponsiveToolkit.is('<=sm')) { slides = mobileJson }
            else if (ResponsiveToolkit.is('md')) { slides = tabletJson }
            else { slides = desktopJson }

            // Slide Content Wrapper
            var slideWrap = $('.big-slider-swiper .swiper-wrapper').empty();

            if (slides.length == 0) {
                $('.big-slider').hide();
            }

            // Each slide items in slides
            $.each(slides, function (index, slide) {
                var slideItem = $('<div class="swiper-slide"><div class="slider-bg" style="background-image: url(' + slide.PictureUrl + ')"><h2>' + slide.Title + '</h2><a href="' + slide.Url +'" class="btn-big" style=" position: relative; ">DAHA FAZLA</a><a href="' + slide.Url + '"></a></div>');
                slideWrap.append(slideItem);
            });



            //Swiper-Slider
            const swiper = new Swiper('.big-slider-swiper .swiper', {
                // Enable lazy loading
           
                lazy: {
                    loadPrevNext: true,
                },
                slidesPerView: 1,
                loop: true,
                centeredSlides: true,
                speed: 500,
                effect: 'slide',
                navigation: {
                    nextEl: '.big-slider-swiper .big-slider-button-next',
                    prevEl: '.big-slider-swiper .big-slider-button-prev',
                }
            });
        }

        // DOM on Ready
        $(document).ready(function () {
            initSlides();
        });
    </script>


}