@{
    ViewBag.BodyClass = "shop-home";
}
<style>
    .slider-bg h2 {
        color: #fff;
        font-size: 60px;
        line-height: 70px;
        letter-spacing: 2px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .overlay-name span {
        display: block;
        width: 100%;
        float: left;
        font-family: 'Aleo';
    }
</style>
<style>
    /*eski haline dönmesi için body-bg içini dışarı kopyala*/
    .body-bg {
        background-image: url(/images/bg.jpg);
        background-position-x: center;
        background-repeat: no-repeat;
        max-width: 100% !important;
    }

    .swiper-slide {
        position: relative;
    }

        .swiper-slide .slider-bg {
            position: relative;
            z-index: 1;
            overflow: hidden;
        }

            .swiper-slide .slider-bg::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                font-family: 'Roboto Slab SemiBold' !important;
                background: rgba(0, 0, 0, 0.5); /* Buradaki 0.5 saydamlık seviyesini dilediğiniz gibi ayarlayabilirsiniz */
                z-index: 2;
            }

            .swiper-slide .slider-bg h2 {
                color: #fff;
                font-size: 60px;
                line-height: 70px;
                letter-spacing: 2px;
                font-weight: 700;
                margin-bottom: 20px;
                position: relative;
                z-index: 3;
            }

    .big-slider .big-slider-swiper .swiper {
        border-radius: 0px !important;
    }

    .swiper-slide .slider-bg .btn-big {
        position: relative;
        z-index: 3; /* Butonun z-index değerini artırın */
    }

    /* Diğer stiller buraya eklenmeye devam edebilir */
</style>



<section class="big-slider">
    <div class="big-slider-swiper" style="height:100vh;">
        <div class="swiper">
            <div class="swiper-wrapper">
            </div>
        </div>
        <div class="big-slider-button-prev"></div>
        <div class="big-slider-button-next"></div>
    </div>
</section>
@*eski haline dönmesi için body-bg içini dışarı kopyala*@
<div class="body-bg">
    <div class="home-middle">
        @*    <div class="left-area"></div>
        <div class="right-area"></div>*@
        <div class="container contents" style="padding:0px !important;">
            <div class="mt-7">
                <div class="showcase-container">
                    <section class="showcase">
                        <div class="container" style="padding:0px !important;">
                            <div class="showcase-title">
                                <h4>Dünyanın meyvesi, sizin için!</h4>
                            </div>
                            <div class="left-image-showcase showcase-scope-1">

                                <div class="showcase-products">
                                    <div class="showcase-wrap">
                                        <div class="showcase-slider-1 swiper">
                                            <div class="showcase-slider__wrapper swiper-wrapper">
                                                @await Component.InvokeAsync("CategoryCarousel")
                                            </div>
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                            <div class="swiper-pagination"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>

            </div>

            <div class="d-flex my-18 box-shadow"
                 style="background-color: rgb(255 255 255 / 63%); ">
                <div class="align-content-end col-6 d-flex justify-content-start">
                    <img src="../Themes/Default/Content/img/about-little.jpg"
                         class="w-100" style="height:fit-content" />
                </div>
                <div class="col-6 d-flex align-items-center">
                    <div class="d-flex flex-column align-items-center">
                        <span class="text-center mb-4 font-size-h3 title">Hakkımızda</span>
                        <span class="text-center mb-4 px-10 home-page-content">
                            Türkiye’nin ilk kivi markası olarak 1997 yılında hayata geçen Verita,
                            Sektörün önde gelen meyve-sebze tedarikçisi ve dağıtıcısı İdeal Tarım Ürünleri Ticareti AŞ’nin de ilk markasıdır.
                            <br />
                            <br />
                            O günden bu yana sektörün tüm zorluklarına rağmen kalitesinden asla ödün vermemeyi ilke edinen Verita, üreticisinden tüketicisine kadar zihinlerde “kaliteli meyve markası” olarak yerini almayı başarmış durumdadır.

                        </span>
                        <span></span>
                        <a href="/hakkimizda" class="btn-big">TÜMÜNÜ GÖR</a>
                    </div>
                </div>
            </div>

            <div class="d-flex box-shadow mb-18 "
                 style="background-color: rgb(255 255 255 / 63%);">
                <div class="col-6 d-flex align-items-center">
                    <div class="d-flex flex-column align-items-center">
                        <span class="text-center mb-4 font-size-h3 title">
                            Neden Verita?
                        </span>
                        <span class="text-center mb-4 px-10 home-page-content">
                            Verita bugün 6 kıtada, 49 farklı ülkede ve farklı iklimlerde yetişen her çeşit meyve ve sebzeyi düzenli, sağlıklı, yüksek kaliteli, uygun fiyatlı ve hijyenik koşullarda sizlerin beğenisine sunuyor.
                            <br>
                            <br />
                            Dünyanın dört bir yanından gelen taze meyve ve sebzeler yıl boyunca, her biri kendi mevsiminde doğal koşullarda yetişmiş olarak, sizinle buluşuyor. Böylece Verita, sizlere 12 boyunca mevsiminde, taze ve sağlıklı meyve-sebze tüketme imkanı sağlıyor.

                        </span>
                        <a href="/verita" class="btn-big">TÜMÜNÜ GÖR</a>
                    </div>
                </div>
                <div class="align-content-end col-6 d-flex align-items-center">
                    <img src="../Themes/Default/Content/img/why-verita-little.jpg"
                         class="w-100" style="height:fit-content" />
                </div>

            </div>

        </div>

    </div>
    <div class="d-flex w-100 mt-20"
         style="height: 500px; background: url(/Themes/Default/Content/img/rawjuice.png); background-size: cover; background-position:center; background-repeat: no-repeat; ">
    </div>
    <div class="home-middle mt-10">
        <div class="container contents" style="padding:0px !important;">
            <div class="d-flex mb-20 box-shadow mt-18"
                 style="background-color: rgb(255 255 255 / 63%);">
                <div class="align-content-end col-6 d-flex align-items-center">
                    <img src="../Themes/Default/Content/img/guvenli-gida.jpg"
                         class="w-100" style="height:fit-content" />
                </div>
                <div class="col-6 d-flex align-items-center">
                    <div class="d-flex flex-column align-items-center">
                        <span class="text-center mb-4 font-size-h3 title">
                            Güvenli Gıda
                        </span>
                        <span class="text-center mb-4 px-10 home-page-content">
                            Doğal ortamında yetişen meyve ve sebzeler tedarik zinciri sürecinde insan sağlığına zararlı olabilecek biyolojik, kimsala ve fiziksel zararlara maruz kalma riski ile karşı karşıya kalıyor. “Güvenli Gıda” uygulamalarıyla ürünlerimizi bu etkenlerden koruyoruz.
                            <br />
                            <br />
                            Sağlıklı bir gelecek için “Güvenli Gıda” kontrollerimizi tüm tedarikçilerimizde ve tedarik süresince uyguluyoruz. Meyve ve sebzelerimizin “Güvenli Gıda” olmaları konusunda yüksek bir kalite standardizasyonu sağlıyoruz.

                        </span>
                        <a href="/gida-guvenligi" class="btn-big">TÜMÜNÜ GÖR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-20">
        <div class="newsletter">

            <div class="footer-newsletter py-20">
                <p>Sertifikalı, pestisit analizli, gurme meyve ve sebzeler Dünyanın Meyvesi online satış noktalarımızda!</p>
                <span class="text-center mb-8 font-size-h3 title">Siz de <u>Dünyanın Meyvesi</u>’ne üye olun, ayrıcalıkların tadını çıkarın!</span>
                <div class="input-group btn-uyeol mt-5">
                    <a href="/hakkimizda" style="color: white;font-size: 30px;" class="px-6">ÜYE OL</a>

                </div>
            </div>

        </div>

    </div>
    <div class="mb-10">

        <section class="showcase">
            <div class="container" style="width:1300px; padding:0px !important;">

                <div class="showcase-title">
                    <h4>Nerelerdeyiz?</h4>
                </div>

                <div class="left-image-showcase showcase-scope-branch">
                    <div class="showcase-products">
                        <div class="showcase-wrap">
                            <div class="showcase-slider-branch swiper">
                                <div class="showcase-slider__wrapper swiper-wrapper">
                                    <div class="swiper-slide" style="width:244px !important;">

                                        <div class="product-item d-flex">
                                            <div class="product-image branch">
                                                <img src="/Themes/Default/Content/img/logo_verita.jpg" alt="verita">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="swiper-slide" style="width:244px !important;">

                                        <div class="product-item d-flex">
                                            <div class="product-image branch">
                                                <img src="/Themes/Default/Content/img/carrefour.jpg" style="width: 220px !important;" alt="carrefour">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="swiper-slide" style="width:244px !important;">

                                        <div class="product-item d-flex">
                                            <div class="product-image branch">
                                                <img src="/Themes/Default/Content/img/gurme.jpg" alt="gurme">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="swiper-slide" style="width:244px !important;">

                                        <div class="product-item d-flex">
                                            <div class="product-image branch">
                                                <img src="/Themes/Default/Content/img/macrocenter.jpg" alt="macrocenter">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="swiper-slide" style="width:244px !important;">

                                        <div class="product-item d-flex">
                                            <div class="product-image branch">
                                                <img src="/Themes/Default/Content/img/migros.jpg" alt="migros">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="swiper-slide" style="width:244px !important;">

                                        <div class="product-item d-flex">
                                            <div class="product-image branch">
                                                <img src="/Themes/Default/Content/img/getir.png" alt="getir">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <section class="showcase client-showcase">
        <div class="container" style="padding:0px !important;">

            <div class="showcase-title">
                <h4>Müşterilerimiz diyor ki;</h4>
            </div>

            <div class="left-image-showcase showcase-scope-client">

                <div class="showcase-products clients">
                    <div class="showcase-wrap  box-shadow">
                        <div class="showcase-slider-client swiper">
                            <div class="showcase-slider__wrapper swiper-wrapper ">

                                <div class="swiper-slide box-shadow">
                                    <div class="client-item d-flex">
                                        <div class="image">
                                            <img src="../Themes/Default/Content/img/guvenli-gida.jpg" />
                                        </div>
                                        <div class="name mt-5">Adı Soyadı</div>
                                        <div class="title">
                                            Migros Meyve Sebze
                                            Kategorisi
                                        </div>
                                        <div class="duty mb-5">Satınalma Müdürü</div>
                                        <div class="description">
                                            Sed ut
                                            perspiciatis unde omnis iste natus
                                            error sit voluptatem accusantium
                                            doloremque laudantium, totam rem
                                            aperiam, eaque ipsa quae ab illo
                                            inventore veritatis et quasi
                                            architecto beatae vitae dicta sunt
                                            explicabo. Nemo enim ipsam
                                            voluptatem quia voluptas sit
                                            aspernatur aut odit aut fugit, sed
                                            quia consequuntur magni dolores eos
                                            qui ratione voluptatem sequi
                                            nesciunt. Neque porro quisquam est,
                                            qui dolorem ipsum quia dolor sit
                                            amet, consectetur, adipisci velit,
                                            sed quia non numquam eius modi
                                            tempora incidunt ut labore et dolore
                                            magnam aliquam quaerat voluptatem.
                                            Ut enim ad minima veniam, quis
                                            nostrum exercitationem ullam
                                            corporis suscipit laboriosam, nisi
                                            ut aliquid
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide box-shadow">
                                    <div class="client-item d-flex">
                                        <div class="image">
                                            <img src="../Themes/Default/Content/img/guvenli-gida.jpg" />
                                        </div>
                                        <div class="name mt-5">Adı Soyadı</div>
                                        <div class="title">
                                            Migros Meyve Sebze
                                            Kategorisi
                                        </div>
                                        <div class="duty mb-5">Satınalma Müdürü</div>
                                        <div class="description">
                                            Sed ut
                                            perspiciatis unde omnis iste natus
                                            error sit voluptatem accusantium
                                            doloremque laudantium, totam rem
                                            aperiam, eaque ipsa quae ab illo
                                            inventore veritatis et quasi
                                            architecto beatae vitae dicta sunt
                                            explicabo. Nemo enim ipsam
                                            voluptatem quia voluptas sit
                                            aspernatur aut odit aut fugit, sed
                                            quia consequuntur magni dolores eos
                                            qui ratione voluptatem sequi
                                            nesciunt. Neque porro quisquam est,
                                            qui dolorem ipsum quia dolor sit
                                            amet, consectetur, adipisci velit,
                                            sed quia non numquam eius modi
                                            tempora incidunt ut labore et dolore
                                            magnam aliquam quaerat voluptatem.
                                            Ut enim ad minima veniam, quis
                                            nostrum exercitationem ullam
                                            corporis suscipit laboriosam, nisi
                                            ut aliquid
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide box-shadow">
                                    <div class="client-item d-flex">
                                        <div class="image">
                                            <img src="../Themes/Default/Content/img/guvenli-gida.jpg" />
                                        </div>
                                        <div class="name mt-5">Adı Soyadı</div>
                                        <div class="title">
                                            Migros Meyve Sebze
                                            Kategorisi
                                        </div>
                                        <div class="duty mb-5">Satınalma Müdürü</div>
                                        <div class="description">
                                            Sed ut
                                            perspiciatis unde omnis iste natus
                                            error sit voluptatem accusantium
                                            doloremque laudantium, totam rem
                                            aperiam, eaque ipsa quae ab illo
                                            inventore veritatis et quasi
                                            architecto beatae vitae dicta sunt
                                            explicabo. Nemo enim ipsam
                                            voluptatem quia voluptas sit
                                            aspernatur aut odit aut fugit, sed
                                            quia consequuntur magni dolores eos
                                            qui ratione voluptatem sequi
                                            nesciunt. Neque porro quisquam est,
                                            qui dolorem ipsum quia dolor sit
                                            amet, consectetur, adipisci velit,
                                            sed quia non numquam eius modi
                                            tempora incidunt ut labore et dolore
                                            magnam aliquam quaerat voluptatem.
                                            Ut enim ad minima veniam, quis
                                            nostrum exercitationem ullam
                                            corporis suscipit laboriosam, nisi
                                            ut aliquid
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-slide box-shadow">
                                    <div class="client-item d-flex">
                                        <div class="image">
                                            <img src="../Themes/Default/Content/img/guvenli-gida.jpg" />
                                        </div>
                                        <div class="name mt-5">Adı Soyadı</div>
                                        <div class="title">
                                            Migros Meyve Sebze
                                            Kategorisi
                                        </div>
                                        <div class="duty mb-5">Satınalma Müdürü</div>
                                        <div class="description">
                                            Sed ut
                                            perspiciatis unde omnis iste natus
                                            error sit voluptatem accusantium
                                            doloremque laudantium, totam rem
                                            aperiam, eaque ipsa quae ab illo
                                            inventore veritatis et quasi
                                            architecto beatae vitae dicta sunt
                                            explicabo. Nemo enim ipsam
                                            voluptatem quia voluptas sit
                                            aspernatur aut odit aut fugit, sed
                                            quia consequuntur magni dolores eos
                                            qui ratione voluptatem sequi
                                            nesciunt. Neque porro quisquam est,
                                            qui dolorem ipsum quia dolor sit
                                            amet, consectetur, adipisci velit,
                                            sed quia non numquam eius modi
                                            tempora incidunt ut labore et dolore
                                            magnam aliquam quaerat voluptatem.
                                            Ut enim ad minima veniam, quis
                                            nostrum exercitationem ullam
                                            corporis suscipit laboriosam, nisi
                                            ut aliquid
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section links
    {
    <link href="/Themes/Default/Content/css/plugins/toastr.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/shop-info.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/store-showcase.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/blog-showcase.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/product-item.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/product-showcase-home.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/heading-title.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/fly-coffee-core.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/product-image.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/featured-product-single.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/slider.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/footer.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/showcase.min.css?v=2020100520" rel="stylesheet" type="text/css" />

    <script src="/Themes/Default/Content/js/bootstrap/bootstrap.bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/jquery-inline-svg/jquery-inline-svg.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/swiperjs/swiper-bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-migrate/jquery-migrate-3.0.1.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/responsive-toolkit/responsive-toolkit.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/js/main.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.common.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.ajaxcart.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/toastr/2.1.4/toastr.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-lazy/jquery.lazy.min.js?v=2020100520" type="text/javascript"></script>

}

@section scripts{
    <script>
        AjaxCart.init('.header-links .qty-cart', '.header-links .qty-wishlist', '.flyout-cart');
    </script>
    <script>
        var $mobileAccount = $('.header-mobile .account-dropdown');

        $mobileAccount.on('click', function () {
            if ($mobileAccount.find('.navbar-right-item-title').hasClass('is-authenticated')) {
                window.location.pathname = '/hesabim/bilgilerim/';
            }

            if ($mobileAccount.find('.navbar-right-item-title').hasClass('no-authenticated')) {
                window.location.pathname = '/kullanici-giris/';
            }

        })
    </script>
    <script>
        $(document).ready(function () {

            var swipers = new Swiper('.showcase-slider-client', {
                // Disable preloading of all images
                autoplay: {
                    delay: 3000,
                },
                preloadImages: false,
                // Enable lazy loading
                lazy: {
                    elementClass: 'image',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                updateOnWindowResize: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                breakpointsInverse: true,
                breakpoints: {
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 25
                    },
                    992: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    }
                }
            });

        });
    </script>
    <script>
        $(document).ready(function () {

            var swipers = new Swiper('.showcase-slider-branch', {
                // Disable preloading of all images
                autoplay: {
                    delay: 3000,
                },
                preloadImages: false,
                // Enable lazy loading
                lazy: {
                    elementClass: 'product-image',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                updateOnWindowResize: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                breakpointsInverse: true,
                breakpoints: {
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 25
                    },
                    992: {
                        slidesPerView: 5,
                        spaceBetween: 20
                    }
                }
            });

        });
    </script>
    <script>
        function newsletter_subscribe() {
            var postData = {
                email: $("#newsletter-email").val()
            };
            $.ajax({
                cache: false,
                type: "POST",
                url: "/bulten-kayit/",
                data: postData,
                success: function (data) {
                    if (data.success == true) {
                        $('#newsletter-email').val('');
                        displayNotification(data.result, 'success');
                    } else {
                        displayNotification(data.result, 'error');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    subscribeProgress.hide();
                }
            });
        }

        $(document).ready(function () {
            $('#newsletter-subscribe-button').on('click', function () {
                newsletter_subscribe();
            });
            $('#newsletter-email').on('keydown', function (event) {
                if (event.keyCode == 13) {
                    $("#newsletter-subscribe-button").click();
                    return false;
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            var swipers = new Swiper('.showcase-slider-meyveli', {
                // Disable preloading of all images
                autoplay: {
                    delay: 3000,
                },
                preloadImages: false,
                // Enable lazy loading
                lazy: {
                    elementClass: 'product-image',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                updateOnWindowResize: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                breakpointsInverse: true,
                breakpoints: {
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 25
                    },
                    992: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    }
                }
            });

        });
    </script>
    <script>
        $(document).ready(function () {

            var swipers = new Swiper('.showcase-slider-1', {
                // Disable preloading of all images

                preloadImages: false,
                // Enable lazy loading
                lazy: {
                    elementClass: 'product-image',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                updateOnWindowResize: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                breakpointsInverse: true,
                breakpoints: {
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 25
                    },
                    992: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    }
                }
            });

        });
    </script>
    <script>
        // Initialize Slide Items
        function initSlides() {

            // Variables
            var mobileJson =  [{ "Id": 1, "Title": "Kalite Garantili <br> meyve ve sebzeler", "Name": "", "PictureUrl": "/images/slider/1.kalite-garantili-meyve-ve-sebzeler.webp", "Url": "/", "Mobile": true, "Tablet": true, "Desktop": true }, { "Id": 2, "Title": "İstanbul içi <br> aynı gün teslim", "Name": "Slider2", "PictureUrl": "/images/slider/2.istanbul-ici-ayni-gün-teslim.webp", "Url": null, "Mobile": true, "Tablet": true, "Desktop": true }, { "Id": 3, "Title": "Fresh Cut çeşitlerimizi<br>denediniz mi?", "Name": "Slider3", "PictureUrl": "/images/slider/3.fresh-cut-cesitlerimizi-denediniz-mi.webp", "Url": null, "Mobile": true, "Tablet": true, "Desktop": true }];
            var tabletJson =  [{ "Id": 1, "Title": "Kalite garantili <br> meyve ve sebzeler", "Name": "", "PictureUrl": "/images/slider/1.kalite-garantili-meyve-ve-sebzeler.webp", "Url": "/", "Mobile": true, "Tablet": true, "Desktop": true }, { "Id": 2, "Title": "İstanbul içi <br> aynı gün teslim", "Name": "Slider2", "PictureUrl": "/images/slider/2.istanbul-ici-ayni-gün-teslim.webp", "Url": null, "Mobile": true, "Tablet": true, "Desktop": true }, { "Id": 3, "Title": "Fresh Cut çeşitlerimizi<br>denediniz mi?", "Name": "Slider3", "PictureUrl": "/images/slider/3.fresh-cut-cesitlerimizi-denediniz-mi.webp", "Url": null, "Mobile": true, "Tablet": true, "Desktop": true }];
            var desktopJson = [{ "Id": 1, "Title": "Kalite garantili <br> meyve ve sebzeler", "Name": "", "PictureUrl": "/images/slider/1.kalite-garantili-meyve-ve-sebzeler.webp", "Url": "/", "Mobile": true, "Tablet": true, "Desktop": true }, { "Id": 2, "Title": "İstanbul içi <br> aynı gün teslim", "Name": "Slider2", "PictureUrl": "/images/slider/2.istanbul-ici-ayni-gün-teslim.webp", "Url": null, "Mobile": true, "Tablet": true, "Desktop": true }, { "Id": 3, "Title": "Fresh Cut çeşitlerimizi<br>denediniz mi?", "Name": "Slider3", "PictureUrl": "/images/slider/3.fresh-cut-cesitlerimizi-denediniz-mi.webp", "Url": null, "Mobile": true, "Tablet": true, "Desktop": true }];

            // Slide Array
            var slides = new Array();

            // Viewport Detect
            if (ResponsiveToolkit.is('<=sm')) { slides = mobileJson }
            else if (ResponsiveToolkit.is('md')) { slides = tabletJson }
            else { slides = desktopJson }

            // Slide Content Wrapper
            var slideWrap = $('.big-slider-swiper .swiper-wrapper').empty();

            if (slides.length == 0) {
                $('.big-slider').hide();
            }

            // Each slide items in slides
            $.each(slides, function (index, slide) {
                var slideItem = $('<div class="swiper-slide"><div class="slider-bg" style="background-image: url(' + slide.PictureUrl + ')"><h2>' + slide.Title + '</h2><div class="btn-big" style="width:240px; height:64px;"><a href="' + slide.Url + '" position: relative; class="btn-dahafazla"">DAHA FAZLA</a></div></div>');
                slideWrap.append(slideItem);
            });



            //Swiper-Slider
            const swiper = new Swiper('.big-slider-swiper .swiper', {
                // Enable lazy loading

                lazy: {
                    loadPrevNext: true,
                },
                slidesPerView: 1,
                loop: true,
                centeredSlides: true,
                speed: 500,
                effect: 'slide',
                navigation: {
                    nextEl: '.big-slider-swiper .big-slider-button-next',
                    prevEl: '.big-slider-swiper .big-slider-button-prev',
                }
            });
        }

        // DOM on Ready
        $(document).ready(function () {
            initSlides();
        });
    </script>


}