@{
    ViewBag.BodyClass = "shop-header-shadow shop-home";
}
<link href="/Themes/Default/Content/css/pages/page.min.css?v=2020100520" rel="stylesheet" type="text/css" />
<main class="page-container mt-40">
    <div class="categoryNav d-flex justify-content-center">
        <ul class="menu-toggle-btn" id="menuToggleBtn">
            <li>
                VERİTA
                <span class="mobile-sub-menu-top-bun"></span>
                <span class="mobile-sub-menu-bottom-bun"></span>
                <span class="mobile-sub-menu-x-top-bun"></span>
                <span class="mobile-sub-menu-x-bottom-bun"></span>
            </li>
        </ul>
    </div>
    <div class="menu-container">
        <ul class="menu" id="menu">

            <li class="active last">
                <a href="/hakkimizda/">
                    Hakkımızda
                </a>
            </li>

            <li class="inactive">
                <a href="/hedeflerimiz/">
                    Hedeflerimiz
                </a>
            </li>

            <li class="inactive">
                <a href="/neden-verita/">
                    Neden Verita?
                </a>
            </li>

            <li class="inactive">
                <a href="/organizasyon-yapisi/">
                    Organizasyon Yapısı
                </a>
            </li>

            <li class="inactive">
                <a href="/kalite-garantisi/">
                    Kalite Garantisi
                </a>
            </li>

            <li class="inactive">
                <a href="/basinda-biz/">
                    Basında Verita
                </a>
            </li>
        </ul>
    </div>
    <div class="container container-bg page-bottom-padding-footer ">
        <div class="page-nav-header">
            <div class="category-info">
                <div class="breadcrumb">
                    <ul class="breadcrumb-header">
                        <li class="breadcrumb-first-item" style=" padding: 0 10px 0px 0; ">
                            <a href="/" class="breadcrumb-home" title="Anasayfa">Anasayfa</a>
                            <span class="delimiter">></span>
                        </li>
                        <li class="breadcrumb-last-item" style=" padding: 0 10px 0px 0;">
                            <span class="current-item">Verita</span>
                            <span class="delimiter">&gt;</span>
                        </li>
                        <li class="breadcrumb-last-item" style=" padding: 0 10px 0px 0;">
                            <span class="current-item">Organizasyon Yapısı</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="sub-page-title my-20">
            <h4>Organizasyon Yapısı</h4>

        </div>
        <div class="page-content pe-0 ">

            <div id="accordion" class="pt-10">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-xl-8 col-12 text-center">
                        <span class="sub-page-verita-content">
                            Verita, yüksek standartlarda sertifikalı taze meyve-sebzeyi tam mevsiminde ve en uygun koşullarda sizlere ulaştırmak üzere küresel bir
                            organizasyon olarak faaliyet göstermektedir.
                            <p class="mt-9">
                                Bölge temsilciliği ağı, Türkiye genelinde perakendecilerin tüm ihtiyaçlarını eksiksiz bir şekilde karşılamak üzere kurulmuştur.
                                Verita, tedarik zincirini titizlikle yöneterek, dalından sofraya kesintisiz, sağlıklı taze meyve-sebze sağlamak için büyük bir özveriyle çalışmaktadır.
                            </p>
                        </span>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row justify-content-center mt-25">
                    <div class="card">
                        <img class="card-img-top" src="~/images/org_dunya_harita-min.jpg">
                    </div>

                    <div class="card mt-40">
                        <img class="card-img-top" src="~/images/DSC1316.jpg">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-6 col-12 justify-content-center text-center  pt-15">
                                    <h5 class="header">Türkiye (Genel Merkez)</h5>
                                    <h5 class="sub-header">İdeal Tarım Ürünleri Ticareti AŞ - İstanbul</h5>
                                    <span class="sub-page-verita-content">
                                        <p>
                                            İdeal Tarım Ürünleri Ticareti AŞ global ölçekte faaliyet göstermektedir. Üreticiler, tedarikçiler ve şirket yapılanmalarıyla
                                            birlikte 49 farklı ülkeye taze meyve-sebze ithalatı ve ihracatını başarıyla yönetmektedir.
                                        </p>
                                        <br />
                                        <p>
                                            Verita, Pepita ve Ekopita markalarıyla, farklı hedef kitlelere ve pazarlara yönelmiştir. Müşteri memnuniyeti odaklı,
                                            her ihtiyacı eksiksiz karşılayabilen "Tam Tedarik” anlayışıyla hizmet vermektedir.
                                        </p>
                                    </span>
                                </div>
                                <div class="col-xl-6 col-12 vertical-line justify-content-center">
                                    <div class="profile-container">
                                        <img src="~/images/org_1_selcukserce-min-webp.webp" alt="Profil Fotoğrafı" class="profile-image">
                                        <p><strong>Selçuk Serçe</strong></p>
                                        <p>Genel Müdür</p>
                                        <p>İdeal Tarım Ürünleri Ticareti AŞ</p>
                                        <p>sserce@idealtarim.com.tr</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-40">
                        <img class="card-img-top" src="~/images/org_turkiye_harita-min.jpg">
                    </div>

                    <div class="card mt-40" style="border:none">
                        <div class="showcase-container">
                            <section class="showcase">
                                <div class="container">
                                    <div class="left-image-showcase showcase-scope-1">

                                        <div class="showcase-products">
                                            <div class="showcase-wrap">
                                                <div class="showcase-slider-1 swiper swiper-initialized swiper-horizontal swiper-pointer-events">
                                                    <div class="showcase-slider__wrapper swiper-wrapper" id="swiper-wrapper-4f481016ec5f5dea" aria-live="polite">
                                                        <div class="swiper-slide">

                                                            <div class="row  d-flex align-items-center" style="border: 1px solid #e3e6ea; margin:0px;">
                                                                <div class="col-xl-6 col-12 justify-content-center text-center d-flex flex-column align-items-center slide-min-height">
                                                                    <h5 class="header">İstanbul Hal</h5>
                                                                    <div class="organizasyon-body">
                                                                        1998 yılında, İstanbul Bayrampaşa Hali’nde açılan 208 numaralı İdeal Tarım yazıhanesi,
                                                                        uzun yılların kazandırdığı sektör deneyimiyle sağlıklı, kaliteli taze meyve-sebze dağıtımı ve
                                                                        piyasaya sürülmesi faaliyetlerini yürütmektedir.
                                                                    </div>
                                                                </div>
                                                                <div class=" col-xl-6 col-12 justify-content-center text-center d-flex flex-column align-items-center slide-min-height" style="background-color: #ded7ca;">
                                                                    <h5 class="header">Antalya</h5>
                                                                    <h5 class="header">Bölge Temsilciliği</h5>
                                                                    <div class="organizasyon-body">
                                                                        1996 yılında Mert Tarım adıyla kurulan temsilcilik, 2011 yılında stratejik bir kararla
                                                                        Antalya’ya taşınmıştır. Akdeniz Bölgesi’nde ve Anadolu coğrafyasındaki taze meyve ve sebzeyi
                                                                        yurt dışına gönderme konusunda lider bir şirkettir. 2024 yılında İdeal Antalya Bölge Temsilciliği
                                                                        olarak faaliyet göstermeye başlamıştır.
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="swiper-slide">

                                                            <div class="row  d-flex align-items-center" style="border: 1px solid #e3e6ea; margin:0px;">
                                                                <div class=" col-xl-6 col-12 justify-content-center text-center d-flex flex-column align-items-center slide-min-height">
                                                                    <h5 class="header">İzmir</h5>
                                                                    <h5 class="header">Bölge Temsilciliği</h5>
                                                                    <div class="organizasyon-body">
                                                                        İzmir Bölge Temsilciliği: İzmir Şube, 2006 yılından bu yana Ege Bölgesi’ndeki satış noktalarının
                                                                        kontrolünü ve merkez depodan gelen ürünlerin bölgeye sevk edilmesini sağlamaktadır. Ayrıca, yeni
                                                                        satış noktaları ve potansiyel müşteriler ile iletişime geçerek ürünlerin bölgede tanıtımına yönelik
                                                                        çalışmaları yürütmektedir.

                                                                    </div>
                                                                </div>
                                                                <div class=" col-xl-6 col-sm-12 justify-content-center text-center d-flex flex-column align-items-center slide-min-height" style="background-color: #ded7ca;">
                                                                    <h5 class="header">Ankara</h5>
                                                                    <h5 class="header">Bölge Temsilciliği</h5>
                                                                    <div class="organizasyon-body">
                                                                        Verita'nın faaliyet alanını genişletme ve başkent Ankara'da daha etkin bir
                                                                        şekilde hizmet verebilme amacıyla kurulmuştur. Bu temsilcilik, Ankara ve çevre bölgelerdeki tarım
                                                                        potansiyelinden yararlanmayı hedefleyerek, Verita ürünlerini daha geniş bir kitleye ulaştırmayı ve
                                                                        yerel tüketicilere daha hızlı ve etkin bir şekilde hizmet sunmayı amaçlamaktadır.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">

                                                            <div class="row  d-flex align-items-center" style="border: 1px solid #e3e6ea; margin:0px;">
                                                                <div class=" col-xl-6 col-12 justify-content-center text-center d-flex flex-column align-items-center slide-min-height">
                                                                    <h5 class="header">Yalova Şubesi</h5>
                                                                    <div class="organizasyon-body">
                                                                        Yalova’da bulunan depo ile başta kivi olmak üzere, bölgede yetişen en kaliteli
                                                                        meyve, sebze, malzeme, ekipman ve hizmetlerin tedarik edilmesini sağlamaktadır. Bölge ürünleri
                                                                        uygun depolama şartlarına göre depolanır, nem ayarları kontrol altında tutulur ve tüm bu ürünler
                                                                        merkez depoya sevk edilir.

                                                                    </div>
                                                                </div>
                                                                <div class=" col-xl-6 col-12 justify-content-center text-center d-flex flex-column align-items-center slide-min-height" style="background-color: #ded7ca;">
                                                                    <h5 class="header">Alanya Şubesi</h5>
                                                                    <div class="organizasyon-body">
                                                                        Verita'nın faaliyetlerini genişletme ve Akdeniz Bölgesi’ndeki tarım potansiyelinden
                                                                        daha etkin bir şekilde faydalanması amacıyla kurulmuştur. Alanya, iklimi ve toprak yapısıyla öne çıkan
                                                                        bir tarım bölgesidir. Bu nedenle Verita, yerel üreticilerle iş birliği yaparak kaliteli tarım ürünlerini
                                                                        tüketiciye sunmayı hedeflemektedir. Aynı zamanda Alanya Şubesi, bu bölgedeki taleplere daha hızlı ve
                                                                        yerinde cevap verebilmek için kurulmuştur.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">

                                                            <div class="row  d-flex align-items-center" style="border: 1px solid #e3e6ea; margin:0px;">
                                                                <div class=" col-xl-6 col-12 justify-content-center text-center d-flex flex-column align-items-center slide-min-height">
                                                                    <h5 class="header">Antalya Hal</h5>
                                                                    <div class="organizasyon-body">
                                                                        Piyasa ve müşteri ihtiyaçları doğrultusunda Akdeniz Bölgesi’nin en iyi üreticilerinden
                                                                        gelen taze meyve ve sebzeler Antalya’daki paketleme istasyonunda İdeal marka kriterleri
                                                                        doğrultusunda ambalajlanarak depo ve satış noktalarına sevk edilmektedir.

                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-6 col-12 justify-content-center text-center d-flex flex-column align-items-center slide-min-height" style="background-color: #ded7ca; ">
                                                                    <h5 class="header">Denizli Tarımsal Üretim</h5>
                                                                    <div class="organizasyon-body">
                                                                        Denizli’deki 1.000 dönümlük arazide Türkiye ve tüm dünya pazarları için “İyi
                                                                        Tarım Uygulamaları” sertifikasına sahip elma, armut ve üzüm türleri yetiştirilmektedir. Yürütülen
                                                                        çalışmalarda arazinin bir kısmı Ar-Ge alanı olarak kullanılmaktadır. Denizli'deki tesiste ürünlerin
                                                                        bölgeye, coğrafyaya ve iklime uygunluğunu test edilmekte, tüm üretim süreci izlenmektedir.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">

                                                            <div class="row  d-flex align-items-center" style="border: 1px solid #e3e6ea; margin:0px;">
                                                                <div class="col-xl-6 col-12 justify-content-center text-center d-flex flex-column align-items-center slide-min-height">
                                                                    <h5 class="header">Mersin Şube Temsilciliği</h5>
                                                                    <div class="organizasyon-body">
                                                                        Verita'nın büyüme stratejisi kapsamında, Mersin ve çevre bölgelerdeki tarım
                                                                        potansiyelinden daha etkin bir şekilde faydalanma amacıyla kurulmuştur. Bu temsilcilik, bölgedeki
                                                                        tarım üreticileriyle iş birliği yaparak kaliteli ürünleri tüketicilere sunmayı hedefler. Mersin Şube
                                                                        Temsilciliği, şirketin bölgesel genişleme stratejisinin bir parçası olarak, müşteri memnuniyetini
                                                                        artırmayı ve yerel taleplere hızlı bir şekilde cevap vermeyi amaçlamaktadır.
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-6 col-12 justify-content-center text-center d-flex flex-column align-items-center slide-min-height" style="background-color: #ded7ca; ">
                                                                    <h5 class="header">Niğde Tarımsal Üretim</h5>
                                                                    <div class="organizasyon-body">
                                                                        Niğde'nin iklim ve toprak yapısıyla elma yetiştiriciliği için son derece elverişli
                                                                        olması nedeniyle hayata geçirilmiştir. Bu bölge, kaliteli elmaların üretimi konusunda önemli bir
                                                                        potansiyele sahiptir. Verita, Niğde'de yerel üreticilerle iş birliği yaparak, yüksek kaliteli elma ürünlerini
                                                                        yetiştirmeyi ve bu ürünleri yurtdışına ihraç etmeyi hedeflemektedir.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">

                                                            <div class="row  d-flex align-items-center" style="border: 1px solid #e3e6ea; margin:0px;">
                                                                <div class="col-xl-6 col-12 justify-content-center text-center d-flex flex-column align-items-center slide-min-height">
                                                                    <h5 class="header">Silifke Tarımsal Üretim</h5>
                                                                    <div class="organizasyon-body">
                                                                        Verita'nın stratejik bir kararıdır ve Silifke'nin iklim ve toprak koşulları göz
                                                                        önüne alınarak hayata geçirilmiştir. Bu bölge, sıcak iklimi ve verimli topraklarıyla tarım faaliyetleri için
                                                                        son derece uygun bir ortam sunmaktadır. Verita, Silifke'de yerel üreticilerle iş birliği yaparak, çeşitli
                                                                        tarım ürünlerini yetiştirmeyi ve bu ürünleri hem iç pazarda hem de uluslararası alanda
                                                                        değerlendirmeyi hedeflemektedir.
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-6 col-12 justify-content-center text-center d-flex flex-column align-items-center slide-min-height" style="background-color: #ded7ca;">

                                                                    <h5 class="header">Gazipaşa Tropikal Meyve Toplama Merkezi</h5>
                                                                    <div class="organizasyon-body">
                                                                        Verita, bu bölgede tropikal meyve üreticileriyle iş birliği
                                                                        yaparak, mango, papaya, ananas gibi özel meyveleri toplamakta ve işleme süreçlerini optimize
                                                                        etmektedir. Verita, bu stratejik adımıyla hem yerel ekonomiye katkı sağlamayı hem de Türk
                                                                        tropikal meyve ürünlerini ulusal ve uluslararası pazarlarda daha etkin bir şekilde değerlendirmeyi
                                                                        amaçlamaktadır.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-4f481016ec5f5dea" aria-disabled="false"></div>
                                                    <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-4f481016ec5f5dea" aria-disabled="true"></div>
                                                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span></div>
                                                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>


                    <div class="card mt-40">
                        <img class="card-img-top" src="~/images/20230206_093602.jpg">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-6 col-12 justify-content-center text-center  pt-15">
                                    <h5 class="header">Hollanda</h5>
                                    <h5 class="sub-header">Verita Holland BV - Ridderkerk</h5>
                                    <span class="sub-page-verita-content">
                                        <p>2007'de kurulan Verita Holland BV o günden bu yana faaliyetlerine aralıksız devam etmektedir.</p>

                                        <br />
                                        <p>
                                            Merkezi lokasyonuyla zaman kazandırmakta, kesintisiz tedarik avantajı sunmaktadır. Yerinde kalite kontrol ile yüksek standartta taze ürün güvencesi verebilmektedir.
                                            Verita Holland BV sağlıklı, kaliteli, taze meyve-sebze ticaretinde global bazda güvenilir bir çözüm ortağıdır.
                                        </p>
                                    </span>
                                </div>
                                <div class="col-xl-6 col-12 vertical-line justify-content-center">
                                    <div class="profile-container">
                                        <img src="~/images/org_2_muhammetcakir-min-webp.webp" alt="Profil Fotoğrafı" class="profile-image">
                                        <p><strong>Muhammet Çakır</strong></p>
                                        <p>Genel Müdür</p>
                                        <p>Verita Holland BV</p>
                                        <p>+31 1 8061 5750</p>
                                        <p>mcakir@veritaholland.nl</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card mt-40">
                        <img class="card-img-top" src="~/images/DSC9214.jpg">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-6 col-12 justify-content-center text-center  pt-15">
                                    <h5 class="header">Kosta Rika</h5>
                                    <h5 class="sub-header">Verita Tropicals Costa Rica SA - San Carlos</h5>
                                    <span class="sub-page-verita-content">
                                        <p>
                                            Kosta Rika'nın San Carlos Bölgesi'nde 2011 yılında beri faaliyet gösteren Verita Tropicals Costa Rica SA, başta ananas olmak
                                            üzere ülkede yetişen birçok taze meyveyi ve kök bitkilerini Ortadoğu, Avrupa, Uzakdoğu ve Rusya pazarlarına dağıtmaktadır.
                                        </p>
                                        <br />
                                        <p>
                                            Verita Tropicals Costa Rica SA, bölgedeki ürünleri yerinde gözlemleyerek, Türkiye pazarına taze ve kesintisiz ürün tedariği
                                            gerçekleştirebilmektedir. Yerinde kalite kontrol ile yüksek standartta taze meyve-sebze güvencesi verebilmektedir.
                                        </p>
                                    </span>
                                </div>
                                <div class="col-xl-6 col-12 vertical-line justify-content-center">
                                    <div class="profile-container">
                                        <img src="~/images/org_3_mertbuke-min-webp.webp" alt="Profil Fotoğrafı" class="profile-image">
                                        <p><strong>Mert Büke</strong></p>
                                        <p>Genel Müdür</p>
                                        <p>Verita Tropicals Costa Rica SA</p>
                                        <p>NL : +31 6 5262 9296 (WhatsApp)</p>
                                        <p>TR : +90 532 587 0911</p>
                                        <p>CR : +5*6 8652 8729</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</main>
<style>
    .card {
        padding: 0px;
        box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.19);
    }






    p {
        margin-top: 0px;
        margin-bottom: 0rem;
    }

    h4 {
        font-size: 40px !important;
        font-family: 'Roboto Slab SemiBold', 'Aleo', sans-serif !important;
        font-weight: bold !important;
        color: rgb(4,106,56) !important;
    }




    @@media (min-width: 1200px) {

        .slide-min-height {
            min-height: 500px;
        }

        .vertical-line {
            border-left: 3px solid #ded7ca;
            height: 100%;
        }

        .profile-image {
            width: 250px;
            height: 250px;
            object-fit: cover;
            margin-bottom: 10px;
        }


        .profile-container {
            text-align: center;
            padding: 20px;
            margin: 20px auto;
            max-width: 400px;
        }

        .header {
            font-size: 40px !important;
            font-family: 'Roboto Slab SemiBold', 'Aleo', sans-serif !important;
            font-weight: bold !important;
            color: rgb(4,106,56) !important;
        }

        .sub-header {
            font-size: 26px !important;
            font-family: 'Roboto Slab SemiBold', 'Aleo', sans-serif !important;
            color: rgb(4,106,56) !important;
            font-weight: 500 !important;
            margin-bottom: 50px;
        }

        .organizasyon-body {
            padding: 45px;
        }
    }

    @@media (min-width: 992px) and (max-width:1199px) {

        .slide-min-height {
            min-height: 850px;
            padding-left: 50px;
            padding-right: 50px;
        }

        .vertical-line {
            border-left: 0px solid white;
            height: 100%;
        }

        .profile-image {
            width: 800px;
            height: 800px;
            object-fit: cover;
            margin-bottom: 10px;
        }

        .profile-container {
            font-size: 1.8rem;
            text-align: center;
            padding: 20px;
            margin: 80px auto;
            max-width: 1000px;
        }

        .header {
            font-size: 3.5rem !important;
            font-family: 'Roboto Slab SemiBold', 'Aleo', sans-serif !important;
            font-weight: bold !important;
            color: rgb(4,106,56) !important;
        }

        .sub-header {
            font-size: 1.6rem !important;
            font-family: 'Roboto Slab SemiBold', 'Aleo', sans-serif !important;
            color: rgb(4,106,56) !important;
            font-weight: 500 !important;
            margin-bottom: 50px;
        }

        .organizasyon-body {
            font-size: 2.1rem !important;
            padding: 45px;
        }
    }


    @@media (max-width: 991.8px) {

        .slide-min-height {
            min-height: 1700px;
            padding-left: 50px;
            padding-right: 50px;
        }

        .vertical-line {
            border-left: 0px solid white;
            height: 100%;
        }

        .profile-image {
            width: 800px;
            height: 800px;
            object-fit: cover;
            margin-bottom: 10px;
        }

        .profile-container {
            font-size: 2.8rem;
            text-align: center;
            padding: 20px;
            margin: 80px auto;
            max-width: 1000px;
        }

        .header {
            font-size: 6.5rem !important;
            font-family: 'Roboto Slab SemiBold', 'Aleo', sans-serif !important;
            font-weight: bold !important;
            color: rgb(4,106,56) !important;
        }

        .sub-header {
            font-size: 3.6rem !important;
            font-family: 'Roboto Slab SemiBold', 'Aleo', sans-serif !important;
            color: rgb(4,106,56) !important;
            font-weight: 500 !important;
            margin-bottom: 50px;
        }

        .organizasyon-body {
            font-size: 3.6rem !important;
            padding: 45px;
        }
    }

    .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        padding: 0px;
    }

    .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .container-bg {
        background-image: url('/images/organizasyon_yapisi_zemin.webp');
    }

    .left-image-showcase .showcase-products .showcase-wrap .swiper .swiper-button-next:after {
        background-image: url("/Themes/Default/Content/img/carousel-arrow-right.png");
    }

    .left-image-showcase .showcase-products .showcase-wrap .swiper .swiper-button-prev:after {
        background-image: url("/Themes/Default/Content/img/carousel-arrow-left.png");
    }

    .swiper-pagination-bullet-active {
        background-color: #006940;
    }

    @@media (min-width: 992px) and (max-width:1199px) {

        .swiper-button-next, .swiper-button-prev {
            top: 46.5% !important;
        }

        .left-image-showcase .showcase-products .showcase-wrap .swiper .swiper-button-next:after {
            background-size: cover;
        }

        .left-image-showcase .showcase-products .showcase-wrap .swiper .swiper-button-prev:after {
            background-size: cover;
        }


        .swiper-button-next, .swiper-rtl .swiper-button-prev {
            right: 0px !important;
        }

        .swiper-button-prev, .swiper-rtl .swiper-button-next {
            left: 0px !important;
        }

        .swiper-pagination-bullet {
            width: 20px !important;
            height: 20px !important;
        }
    }

    @@media (max-width: 991.8px) {

        .swiper-button-next, .swiper-button-prev {
            top: 48.5% !important;
        }

        .left-image-showcase .showcase-products .showcase-wrap .swiper .swiper-button-next:after {
            background-size: cover;
        }

        .left-image-showcase .showcase-products .showcase-wrap .swiper .swiper-button-prev:after {
            background-size: cover;
        }


        .swiper-button-next, .swiper-rtl .swiper-button-prev {
            right: 0px !important;
        }

        .swiper-button-prev, .swiper-rtl .swiper-button-next {
            left: 0px !important;
        }

        .swiper-pagination-bullet {
            width: 30px !important;
            height: 30px !important;
        }
    }
</style>
@section links {

    <link href="/Themes/Default/Content/css/plugins/toastr.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/footer.min.css?v=2020100520" rel="stylesheet" type="text/css" />

    <script src="/Themes/Default/Content/js/bootstrap/bootstrap.bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/jquery-inline-svg/jquery-inline-svg.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/swiperjs/swiper-bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/responsive-toolkit/responsive-toolkit.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/js/main.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.common.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.ajaxcart.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/toastr/2.1.4/toastr.min.js?v=2020100520" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
}

@section scripts {
    <script>
        $(document).ready(function () {
            $('.btn[data-toggle="collapse"]').click(function () {
                var icon = $(this).find('.collapse-icon');
                icon.toggleClass('collapsed', !$(this).attr('aria-expanded'));
            });
        });
    </script>
    <script>
        AjaxCart.init('.header-links .qty-cart', '.header-links .qty-wishlist', '.flyout-cart');
    </script>
    <script>
        var $mobileAccount = $('.header-mobile .account-dropdown');

        $mobileAccount.on('click', function () {
            if ($mobileAccount.find('.navbar-right-item-title').hasClass('is-authenticated')) {
                window.location.pathname = '/hesabim/bilgilerim/';
            }

            if ($mobileAccount.find('.navbar-right-item-title').hasClass('no-authenticated')) {
                window.location.pathname = '/kullanici-giris/';
            }

        })
    </script>
    <script>
        $(document).ready(function () {

            var swipers = new Swiper('.showcase-slider-1', {
                preloadImages: false,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                updateOnWindowResize: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                }
            });

        });
    </script>
}