
@{
    ViewBag.BodyClass = "shop-home";
}

<section class="catalog-page mt-40">
    <div class="filter-box categoryNav">
        <ul>

            <li class="active last">
                <a href="/urunlerimiz/">
                    Tüm Ürünler
                </a>
            </li>

            <li class="inactive">
                <a href="/egzotik-meyveler/">
                    Egzotik Meyveler
                </a>
            </li>

            <li class="inactive">
                <a href="/orman-meyveleri/">
                    Orman Meyveleri
                </a>
            </li>

            <li class="inactive">
                <a href="/yemeye-hazir/">
                    Yemeye Hazır
                </a>
            </li>

            <li class="inactive">
                <a href="/nadir-bulunan-meyveler/">
                    Verita Raw Juice
                </a>
            </li>

            <li class="inactive">
                <a href="/verita-fresh-cut/">
                    Verita Fresh Cut
                </a>
            </li>

            <li class="inactive">
                <a href="/sebzeler-ve-kok-bitkiler/">
                    Sebzeler ve Kök Bitkiler
                </a>
            </li>
        </ul>
    </div>

    <div class="container">

        <div class="catalog-header">
            <div class="category-info">
                <div class="breadcrumb" style="margin-bottom:10px">
                    <ul style="display: flex; list-style: none; padding: 0;margin:0;font-size:12px">
                        <li style=" padding: 0 10px 0px 0;">
                            <a href="/" title="Anasayfa">Anasayfa</a>
                            <span class="delimiter">></span>
                        </li>
                        <li style=" padding: 0 10px 0px 0;">
                            <span class="current-item">Ürünlerimiz</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="catalog-title">
            <h3>Ürünlerimiz</h3>
        </div>
        <div class="catalog-container">

            <div class="catalog-content ms-lg-0">
                <div class="row g-5 mb-13">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-6 product-item400">

                        <div class="product-item">
                            <a href="/egzotik-meyveler/" class="product-link"></a>

                            <div class="product-image">
                                <img src="/products/egzotik_meyveler.jpg"
                                     alt="egzotik meyveler">
                            </div>

                            <div class="overlay">
                                <div class="middle">
                                    <div></div>
                                    <div class="overlay-name">Egzotik Meyveler</div>
                                    <a class="btn-big product-btn-big">
                                        İNCELE
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-6 product-item400">

                        <div class="product-item">
                            <a href="/fresh-cut/" class="product-link"></a>

                            <div class="product-image">
                                <img src="/products/fresh_cut_grubu.jpg"
                                     alt="fresh cut">
                            </div>

                            <div class="overlay">
                                <div class="middle">
                                    <div></div>
                                    <div class="overlay-name">Fresh Cut</div>
                                    <a class="btn-big product-btn-big">
                                        İNCELE
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-6 product-item400" style="margin-right:0px !important;">

                        <div class="product-item">
                            <a href="/klasik-meyveler/" class="product-link"></a>

                            <div class="product-image">
                                <img src="/products/klasik_meyveler.jpg"
                                     alt="klasik meyveler">
                            </div>

                            <div class="overlay">
                                <div class="middle">
                                    <div></div>
                                    <div class="overlay-name">Klasik Meyveler</div>
                                    <a class="btn-big product-btn-big">
                                        İNCELE
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row mt-2 g-5 mb-13">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-6 product-item400">

                        <div class="product-item">
                            <a href="/kok-bitkiler/" class="product-link"></a>

                            <div class="product-image">
                                <img src="/products/kok_bitkiler.jpg"
                                     alt="kök bitkiler">
                            </div>

                            <div class="overlay">
                                <div class="middle">
                                    <div></div>
                                    <div class="overlay-name">Kök Bitkiler</div>
                                    <a class="btn-big product-btn-big">
                                        İNCELE
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-6 product-item400">

                        <div class="product-item">
                            <a href="/nadir-bulunan-meyveler/" class="product-link"></a>

                            <div class="product-image">
                                <img src="/products/nadir_bulunan_meyveler.jpg"
                                     alt="nadir bulunan meyveler">
                            </div>

                            <div class="overlay">
                                <div class="middle">
                                    <div></div>
                                    <div class="overlay-name">Nadir Bulunan Meyveler</div>
                                    <a class="btn-big product-btn-big">
                                        İNCELE
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-6 product-item400" style="margin-right:0px !important;">

                        <div class="product-item">
                            <a href="/orman-meyveleri/" class="product-link"></a>

                            <div class="product-image">
                                <img src="/products/orman_meyveleri.jpg"
                                     alt="orman meyveleri">
                            </div>

                            <div class="overlay">
                                <div class="middle">
                                    <div></div>
                                    <div class="overlay-name">Orman Meyveleri</div>
                                    <a class="btn-big product-btn-big">
                                        İNCELE
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mt-2 g-5 mb-13">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-6 product-item400">

                        <div class="product-item">
                            <a href="/raw-juice/" class="product-link"></a>

                            <div class="product-image">
                                <img src="/products/raw_juice_grubu.jpg"
                                     alt="raw juice">
                            </div>

                            <div class="overlay">
                                <div class="middle">
                                    <div></div>
                                    <div class="overlay-name">Raw Juice</div>
                                    <a class="btn-big product-btn-big">
                                        İNCELE
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-6 product-item400">

                        <div class="product-item">
                            <a href="/sebzeler/" class="product-link"></a>

                            <div class="product-image">
                                <img src="/products/sebzeler.jpg"
                                     alt="sebzeler">
                            </div>

                            <div class="overlay">
                                <div class="middle">
                                    <div></div>
                                    <div class="overlay-name">Sebzeler</div>
                                    <a class="btn-big product-btn-big">
                                        İNCELE
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-6 product-item400" style="margin-right:0px !important;">

                        <div class="product-item">
                            <a href="/yemeye-hazir/" class="product-link"></a>

                            <div class="product-image">
                                <img src="/products/yemeye_hazir_grubu.jpg"
                                     alt="yemeye hazır">
                            </div>

                            <div class="overlay">
                                <div class="middle">
                                    <div></div>
                                    <div class="overlay-name">Yemeye Hazır</div>
                                    <a class="btn-big product-btn-big">
                                        İNCELE
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@section links
{
    <link href="/Themes/Default/Content/css/pages/page.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/plugins/toastr.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/heading-title.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/catalog.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/product-showcase-home.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/product-item.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/footer.min.css?v=2020100520" rel="stylesheet" type="text/css" />

    <script src="/Themes/Default/Content/js/bootstrap/bootstrap.bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/jquery-inline-svg/jquery-inline-svg.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/swiperjs/swiper-bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-migrate/jquery-migrate-3.0.1.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/responsive-toolkit/responsive-toolkit.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/js/main.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.common.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.ajaxcart.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/toastr/2.1.4/toastr.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-lazy/jquery.lazy.min.js?v=2020100520" type="text/javascript"></script>
}
@section scripts{
    <script>
        AjaxCart.init('.header-links .qty-cart', '.header-links .qty-wishlist', '.flyout-cart');
    </script>
    <script>
        var $mobileAccount = $('.header-mobile .account-dropdown');

        $mobileAccount.on('click', function () {
            if ($mobileAccount.find('.navbar-right-item-title').hasClass('is-authenticated')) {
                window.location.pathname = '/hesabim/bilgilerim/';
            }

            if ($mobileAccount.find('.navbar-right-item-title').hasClass('no-authenticated')) {
                window.location.pathname = '/kullanici-giris/';
            }

        })
    </script>
    <script>
        //Category Lazy Load Funtion
        $(document).ready(function () {
            $('.catalog-picture img').lazy({
                effect: "fadeIn",
                effectTime: 500,
                threshold: 0,
                afterLoad: function (element) {
                    //add load complete classes
                    element.addClass("lazy-complete");
                }
            });
        });


        //Category Fixed Head
        $(document).ready(function () {
            if (ResponsiveToolkit.is('>md')) {
                $(window).on('scroll', function () {
                    var sticky = $('.header-wrap');
                    var stickyInner = $('.header-filters');
                    var header = $('.header').outerHeight();
                    var topFilter = $('.header-info').outerHeight();
                    var marginOffset = parseInt($('.catalog-page').css("margin-top"));
                    var height = header + topFilter + marginOffset;
                    scroll = $(window).scrollTop();
                    if (scroll >= height) sticky.addClass("fixed-filters"), stickyInner.addClass("fixed-container");
                    else sticky.removeClass("fixed-filters"), stickyInner.removeClass("fixed-container")
                });
            }
        });


        //Mobile Filter Open/Close Funtion
        (function ($) {
            var trigger = $('.category-filter span');
            var filter = $('.sidebar');
            var close = $('.sidebar-close');

            function openFilter() {
                filter.show();
                $('body').css('overflow', 'hidden');
            }

            function closeFilter() {
                filter.hide();
                $('body').css('overflow', 'scroll');
            }

            $(document).ready(function () {
                trigger.on('click', openFilter);
                close.on('click', closeFilter);
            });
        })(jQuery);

        //Mobile Filter FilterBox Collapse Function
        (function ($) {
            var filterItem = $('.filter-box .title');

            function collapseHandler() {
                var $this = $(this);
                var isActive = $this.parent('.filter-box').hasClass('active');

                $(".filter-box").removeClass("active");

                if (!isActive) {
                    $this.parent('.filter-box').addClass('active');
                }
            }

            $(document).ready(function () {
                filterItem.on('click', collapseHandler);
            });
        })(jQuery);
    </script>
}