@{
    ViewBag.BodyClass = "shop-home";
}

<section class="product-detail catalog-page b2b mt-20">
    <div class="filter-box categoryNav">
        <ul>

            <li class="inactive">
                <a href="/urunlerimiz/">
                    Tüm Ürünler
                </a>
            </li>

            <li class="inactive">
                <a href="/egzotik-meyveler/">
                    Egzotik Meyveler
                </a>
            </li>

            <li class="inactive">
                <a href="/orman-meyveleri/">
                    Orman Meyveleri
                </a>
            </li>

            <li class="inactive">
                <a href="/yemeye-hazir/">
                    Yemeye Haz&#x131;r
                </a>
            </li>

            <li class="inactive">
                <a href="/nadir-bulunan-meyveler/">
                    Verita Raw Juice
                </a>
            </li>

            <li class="inactive">
                <a href="/verita-fresh-cut/">
                    Verita Fresh Cut
                </a>
            </li>

            <li class="inactive">
                <a href="/sebzeler-ve-kok-bitkiler/">
                    Sebzeler ve Kök Bitkiler
                </a>
            </li>
        </ul>
    </div>
    <form method="post" id="product-details-form" action="/verita-gurme-kivi/">

        <div class="container">
            <div class="catalog-header">
                <div class="category-info">
                    <div class="breadcrumb mx-8" style="margin-bottom:10px">
                        <ul style="display: flex; list-style: none; padding: 0;margin:0;font-size:12px">
                            <li style=" padding: 0 10px 0px 0;">
                                <a href="/" title="Anasayfa">Anasayfa</a>
                                <span class="delimiter">></span>
                            </li>
                            <li style=" padding: 0 10px 0px 0;">
                                <span class="current-item">B2B &#xDC;r&#xFC;nler</span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <section class="product-detail-container">
                <div class="row">

                    <div class="col-lg-12">
                        <h3 class="product-detail-title text-center mb-20">
                            Verita Gurme Kivi
                        </h3>
                    </div>
                    <div class="col-lg-12 p-0 mb-20">
                        <img src="/i/l/000/0000054_verita-gurme-kivi.png" class="w-100" />
                    </div>

                    <div class="general-specification d-flex p-0 mb-20">

                        <div class="col-6 d-flex align-items-center px-10">
                            <div class="d-flex flex-column align-items-center">
                                <span class="text-center mb-8 font-size-h3 title b2c">Tam tad&#x131;nda kivi !</span>
                                <span class="text-center mb-8 font-size-h3 subtitle b2c">Verita Gurme Kivi her zaman tam tad&#x131;nda ve tam k&#x131;vam&#x131;ndad&#x131;r &#xE7;&#xFC;nk&#xFC; hasat i&#xE7;in gerekli olgunlu&#x11F;a eri&#x15F;meden aslan hasat edilmezler. Erken hasat edilmi&#x15F; s&#x131;radan kiviler gibi sert ve ek&#x15F;i de&#x11F;ildirler. &#x130;yi Tar&#x131;m Uygulamalar&#x131; kapsam&#x131;nda &#xFC;retilir. &#xD;&#xA;&#xD;&#xA;&#xD;&#xA;En iyi &#xFC;r&#xFC;n&#xFC; alabilmek i&#xE7;in gerekli t&#xFC;m kriterlere uygun olarak yeti&#x15F;tirilen Verita Gurme Kiviler, kalite kontrol a&#x15F;amas&#x131;nda &#xF6;zenle se&#xE7;ildikten sonra size sunulur. G&#xFC;venle t&#xFC;ketebilirsiniz.&#xD;&#xA;</span>

                            </div>
                        </div>
                        <div class="align-content-end col-6 d-flex justify-content-start img" style="background-image:url(/i/l/000/0000055_verita-gurme-kivi.png)">
                        </div>
                    </div>
                    <div class="general-specification d-flex p-0 mb-5">


                        <div class="align-content-end col-6 d-flex justify-content-start img" style="background-image:url(/i/l/000/0000056_verita-gurme-kivi.png)">
                        </div>
                        <div class="col-6 d-flex align-items-center px-10">
                            <div class="d-flex flex-column align-items-center py-10">
                                <span class="text-center mb-8 font-size-h3 title b2c">Verita Gurma Kivi D&#xFC;nyan&#x131;n Meyvesi&#x27;nde!</span>
                                <span class="text-center mb-8 font-size-h3 subtitle b2c">
                                    <p>Verita Gurme Kivi'yi <strong>Dünyanın Meyvesi</strong> online satış noktamızdan temin edebilirsiniz. İstanbul için teslimatlar aynı gün yapılıyor.</p>
                                    <p>Detaylı ürün özellikleri, besin değerleri, ürün seçimi, saklama, hazırlama, tarif önerisi ve daha fazlası <strong>Dünyanın Meyvesi</strong> 'inde</p>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="home-middle">
                <div class="container contents">
                    <div class="mt-7 mx-4">
                        <div class="showcase-container">
                            <section class="showcase">
                                <div class="container">
                                    <div class="showcase-title">
                                        <h4>Benzer Ürünler</h4>
                                    </div>
                                    <div class="left-image-showcase showcase-scope-1">

                                        <div class="showcase-products">
                                            <div class="showcase-wrap">
                                                <div class="showcase-slider-1 swiper">
                                                    <div class="showcase-slider__wrapper swiper-wrapper">
                                                        <div class="swiper-slide">

                                                            <div class="product-item">
                                                                <a href="/ahududu/"
                                                                   class="product-link"></a>

                                                                <div class="product-image">
                                                                    <img src="/i/l/000/0000027_ahududu.jpeg" alt="ahududu">
                                                                </div>

                                                                <div class="overlay">
                                                                    <div class="middle">
                                                                        <div></div>
                                                                        <div class="overlay-name">Ahududu</div>
                                                                        <a class="btn-big overlay-btn mx-10 py-2">
                                                                            İNCELE
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="swiper-slide">

                                                            <div class="product-item">
                                                                <a href="/ananas/"
                                                                   class="product-link"></a>

                                                                <div class="product-image">
                                                                    <img src="/i/l/000/0000028_ananas.png" alt="ananas">
                                                                </div>

                                                                <div class="overlay">
                                                                    <div class="middle">
                                                                        <div></div>
                                                                        <div class="overlay-name">Ananas</div>
                                                                        <a class="btn-big overlay-btn mx-10 py-2">
                                                                            İNCELE
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="swiper-slide">

                                                            <div class="product-item">
                                                                <a href="/avakado/"
                                                                   class="product-link"></a>

                                                                <div class="product-image">
                                                                    <img src="/i/l/000/0000029_avokado.jpeg" alt="avakado">
                                                                </div>

                                                                <div class="overlay">
                                                                    <div class="middle">
                                                                        <div></div>
                                                                        <div class="overlay-name">Avokado</div>
                                                                        <a class="btn-big overlay-btn mx-10 py-2">
                                                                            İNCELE
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="swiper-slide">

                                                            <div class="product-item">
                                                                <a href="/cilek/"
                                                                   class="product-link"></a>

                                                                <div class="product-image">
                                                                    <img src="/i/l/000/0000030_hindistan-cevizi.jpeg" alt="hindistan-cevizi">
                                                                </div>

                                                                <div class="overlay">
                                                                    <div class="middle">
                                                                        <div></div>
                                                                        <div class="overlay-name">
                                                                            Hindistan
                                                                            Cevizi
                                                                        </div>
                                                                        <a class="btn-big overlay-btn mx-10 py-2">
                                                                            İNCELE
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="swiper-button-next"></div>
                                                    <div class="swiper-button-prev"></div>
                                                    <div class="swiper-pagination"></div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GOfCB82RilCpbAvFr-ERy3GSnHjMfVtQccVPAeMNGUCDwbGm49xSnFZWhMz-82QtW9VASVAlwvlGDIOywOnUDVhOp6NM5b2SinlqAN-OPU_8RSRs6PHR7yuvRqKcTLHc-KE3iAmIYP3VxXs-fLgprU" />
    </form>
</section>
<style>
    .left-image-showcase .showcase-products {
        padding-left: 0px !;
    }
</style>

@section links{
    <link href="/Themes/Default/Content/css/pages/page.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/plugins/toastr.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/catalog.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/product-detail.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/product-image.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/component/product-item.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/footer.min.css?v=2020100520" rel="stylesheet" type="text/css" />
    <link href="/Themes/Default/Content/css/layout/shop/showcase.min.css?v=2020100520" rel="stylesheet" type="text/css" />

    <script src="/Themes/Default/Content/js/bootstrap/bootstrap.bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/jquery-inline-svg/jquery-inline-svg.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/plugins/swiperjs/swiper-bundle.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/jquery-migrate/jquery-migrate-3.0.1.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/responsive-toolkit/responsive-toolkit.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/Themes/Default/Content/js/main.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.common.min.js?v=2020100520" type="text/javascript"></script>
    <script src="/js/public.ajaxcart.js?v=2020100520" type="text/javascript"></script>
    <script src="/lib/toastr/2.1.4/toastr.min.js?v=2020100520" type="text/javascript"></script>



}

@section scripts{

    <script>
        AjaxCart.init('.header-links .qty-cart', '.header-links .qty-wishlist', '.flyout-cart');
    </script>
    <script>
        var $mobileAccount = $('.header-mobile .account-dropdown');

        $mobileAccount.on('click', function () {
            if ($mobileAccount.find('.navbar-right-item-title').hasClass('is-authenticated')) {
                window.location.pathname = '/hesabim/bilgilerim/';
            }

            if ($mobileAccount.find('.navbar-right-item-title').hasClass('no-authenticated')) {
                window.location.pathname = '/kullanici-giris/';
            }

        })
    </script>
    <script>
        $(function () {

            productNumberInput(".product-number");



            const productSimilar = new Swiper('.product-swiper .swiper', {
                speed: 400,
                slidesPerView: '1',
                spaceBetween: 25,

                navigation: {
                    nextEl: '.product-swiper .swiper-button-next',
                    prevEl: '.product-swiper .swiper-button-prev',
                },
                breakpoints: {
                    320: {
                        slidesPerView: 1
                    },
                    768: {
                        slidesPerView: 2
                    },
                    1200: {
                        slidesPerView: 4
                    }
                }

            });


        });
    </script>
    <script>
        $('[data-inline-svg]').inlineSvg();
    </script>
    <script>
        $(document).ready(function () {

            var swipers = new Swiper('.showcase-slider-1', {
                // Disable preloading of all images
                preloadImages: false,
                // Enable lazy loading
                lazy: {
                    elementClass: 'product-image',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                updateOnWindowResize: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                breakpointsInverse: true,
                breakpoints: {
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 10
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 25
                    },
                    992: {
                        slidesPerView: 3,
                        spaceBetween: 20
                    }
                }
            });

        });
    </script>


}