@using Verita.Domain.Entities;
@model PageViewModel
 
@if (Model.Pages != null )
{

    @foreach (var pageModel in Model.Pages)
    {
        <a class="dropdown-item with-submenu" href="/Page?pageId=@pageModel.Id">@pageModel.Name</a>
    }
    @if (Model.Pages.FirstOrDefault()!.PageCategory == Verita.Common.Enums.PageCategory.MerakEttikleriniz)
    {
        <a class="dropdown-item with-submenu" href="/bunlari-biliyor-musunuz/">Bunları Biliyor Musunuz?</a>
    }
}